:root {
    /*color*/
    --inactive: #CBCBCB;
    --inactive-border: #ADADAD;
    --stop: #FB3F3F;
    --stop-border: #C31717;
    --start: #56DF64;
    --start-border: #2EB73C;

    --default-status: #339966;
    --warning-status: #E07400;
    --error-status: #9F2B2C;

    --primary-font: #282828;
    --secondary-font: #fefefe;

    --header-background: #496D69;

    --error-message-status: #9F2B2C;
    --error-steps: #6D8A87;

    --btn-primary: #809996;
    --btn-border: #4E6764;

    /*text*/
    --fontSizeXXSmall: 10px; /* H6 */
    --fontSizeXSmall: 11px; /* H5 */
    --fontSizeSmall: 12px; /* Paragraf */
    --fontSizeMedium: 13px; /* H4 */
    --fontSizeLarge: 14px; /* H3 */
    --fontSizeXLarge: 16px;/* H2 */
    --fontSizeXXLarge: 22px; /* H1 */

    /*spacing*/
    --spaceXSmall: 6px;
    --spaceSmall: 8px;
    --spaceMedium: 10px;
    --spaceLarge: 12px;
}

/*font*/
H1,
H2,
H3,
H6,
P {
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
}

/* ---- ---- ---- ---- Knapper ---- ---- ---- ---- */

button {
    border: 2px solid;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.--primary {
    background-color: var(--btn-primary);
    border-color: var(--btn-border);
}

.--xsmall {
    width: 60px;
    height: 30px;

}

.--small {
    width: 76px;
    height: 30px;

}

.--medium {
    width: 76px;
    height: 40px;

}

.--large {
    width: 152px;
    height: 40px;

}

.--xlarge {
    width: 304px;
    height: 40px;

}

.--inactive {
    background-color: var(--inactive);
    border-color: var(--inactive-border);

}

.--activeStop {
    background-color: var(--stop);
    border-color: var(--stop-border);
}

.--activeStart {
    background-color: var(--start);
    border-color: var(--start-border);
}

/* ---- ---- ---- ---- Pause skærmen ---- ---- ---- ---- */

/* Skærmen */
.pause {
    position: relative;
}

/* billede */
.pauseImg {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 115px;
    top: 75px;
}

.goodImg {
    display: none;
}

.mediumImg {
    display: none;
}

.badImg {
    display: none;
}

/* knappen */
.pauseBtn {
    position: absolute;
    width: 138px;
    height: 138px;
    left: 91px;
    top: 51px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25), -20px -20px 60px -5px rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    border: none;
}


/* ---- ---- ---- ---- Menu bar ---- ---- ---- ---- */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--header-background);
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

.header_back {
    width: 20px;
    padding-top: 6px;
}

.header_screen {
    font-size: var(--fontSizeXLarge);
    color: var(--secondary-font);
    grid-column-start: 2;
    grid-row-start: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: right;
    padding: 3px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 20px;
    height: 3px;
    margin: 4px auto;
    background-color: var(--secondary-font);
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}


/* ---- ---- ---- ---- Drift skærm ---- ---- ---- ---- */



/* ---- ---- ---- ---- Menu skærm ---- ---- ---- ---- */
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 4px;
}

.menu_btn {
    width: 148px;
    height: 71px;
    margin: 4px;
    border-radius: 6px;
    color: var(--primary-font);
    font-weight: bold;
    font-size: var(--fontSizeLarge);
    text-align: left;
}

.menu_btn:active {
    box-shadow: none;
}

.menuImg {
    width: 44px;
}



/* ---- ---- ---- ---- Fejlmeddelser ---- ---- ---- ---- */
.errorNotice {
    background-color: var(--error-message-status);
    height: 41px;
    width: 304px;
    margin-bottom: var(--spaceSmall);
}

.errorNotice__img {
    height: 20px;
    width: 20px;
}

.errorNotice__info {
    color: var(--secondary-font);
}

.steps {
    background-color: var(--error-steps);
    margin-bottom: var(--spaceXSmall);
    height: 30px;
    width: 304px;
<<<<<<< Updated upstream
}

.steps__nr {
    color: var(--primary-font);
=======
>>>>>>> Stashed changes
}