:root {
    /*color*/
    --color-bad: #FB3F3F;
    --color-medium: #F1F449;
    --color-good: #56DF64;
    --background-bad: #9F2B2C;
    --background-medium: #E48F36;
    --background-good: #339966;
    --background-color: #FBF7F5;
    --primary-font-color: #000000;
    --secondary-font-color: #FFFFFF;

    /*text*/
    --fontSizeXSmall: calc(var(--fontSizeMedium)/1.6);
    --fontSizeSmall: calc(var(--fontSizeMedium)/1.15);
    --fontSizeMedium: 10;
    --fontSizeLarge: calc(var(--fontSizeMedium)*1.15);
    --fontSizeXLarge: calc(var(--fontSizeMedium)*1.6);

    /*spacing*/
    --spaceXXSmal: calc(var(--fontSizeMedium)/2.5);
    --spaceXSmall: calc(var(--fontSizeMedium)/1.6);
    --spaceSmall: calc(var(--fontSizeMedium)/1.15);
    --spaceMedium: 10;
    --spaceLarge: calc(var(--fontSizeMedium)*1.15);
    --spaceXLarge: calc(var(--fontSizeMedium)*1.6);
}


/* ---- ---- ---- ---- Pause skærmen ---- ---- ---- ---- */

/* Skærmen */
.pause {
    position: relative;
}

/* billede */
.pauseImg {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 115px;
    top: 75px;
}
.goodImg {
    display: none;
}
.mediumImg {
    display: none;
}
.badImg {
    display: none;
}

/* knappen */
.pauseBtn {
    position: absolute;
    width: 138px;
    height: 138px;
    left: 91px;
    top: 51px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25), -20px -20px 60px -5px rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    border: none;
}