:root {
    /*color*/
    --color-bad: #FB3F3F;
    --color-notGood: #F1F449;
    --color-good: #56DF64;
    --background-color: /**/;
    --font-color: /**/;

    /*text*/
    --fontSizeXSmall: calc(var(--fontSizeMedium)/2);
    --fontSizeSmall: calc(var(--fontSizeMedium)/1.5);
    --fontSizeMedium: /**/;
    --fontSizeLarge: calc(var(--fontSizeMedium)*1.5);
    --fontSizeXLarge: calc(var(--fontSizeMedium)*2);

    /*spacing*/
    --spaceXSmall: calc(var(--fontSizeMedium)/2);
    --spaceSmall: calc(var(--fontSizeMedium)/1.5);
    --spaceMedium: /**/;
    --spaceLarge: calc(var(--fontSizeMedium)*1.5);
    --spaceXLarge: calc(var(--fontSizeMedium)*2);
}
