/*custom proppeties */


:root{

  --fontSizeXLarge:26px;
  --fontSizeLarge: 20px;
  --fontsizeMedium: 16px;
  --fontSizeSmall:13px;

 
 --spacingDefault:();
 --spacingXLarge:var(--spacingDefault);
 --sacingLarge:var(--spacingDefault);
 --spacingMedium:var(--spacingDefault);
 --spacingSmall:var(--spacingDefault);


 --maincolor: #CED8E2;
 --secondarycolor:#92C347;
 --tetriarycolor: #fbe896;


 --borderRadiusSmall:5px;
 --borderRadiusMedium: 10px;
  

}

/*end custoum propperties  */

/*- - - - - -  style  style style   - - - - - - */ 

body{
  background-color: #FAF9F6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Mukta', sans-serif; 

}
#date{
  padding-top: 1rem;
  padding-left: 1.5rem;
  margin-bottom: 4rem;
  font-size: 1rem;
  font-weight: 200;
  }
/*  Magnus  welcome text på toppen*/
.name--text{
  font-size: var(--fontSizeLarge);
  font-weight: 200;
   margin: 0;

  }


.bottomline--text {
  font-size: var(--fontsizeMedium);
  font-weight: 100;
}


.login__logo{
 max-width: 32%;
 align-self: center;
 margin-bottom: 5vh ;
  }

  .login-signup__button{
    padding: 0.5rem;
    border-radius: 8px;
    background-color:#92C347;
    margin: 1.2rem;
    width:25vh;
    align-self: center;
    font-weight: 800;
    border-width: 1px;
   
    
}

.login-signup__button:hover{
    box-shadow: rgba(0, 0, 0, .4) 2px 8px 8px -5px;
  
  }
  .login-signup__button:active {
background-color:  #FBE869;
  }


.login__input{
    padding: 0.5rem;
    border-radius: 8px;
    background: #CED8E2;
    margin-bottom:1.5rem;
    width:35vh;
    align-self: center;
    margin-top: .2rem;
    margin-bottom: 1rem;
    border-style:solid ;
    border-color:#CED8E2;
  
}




/*- - - - - - - Sign-up Site starts - - - - - - - */
.sign-up{
    height: 100vh;
}
.sign-up__box{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column ;
    text-align: center;
    border-radius: 10px;
    align-content:center ;
}

/*- - - - - -sign-up site  ends - - - - - - - */




/* - - - - - -  Login site starts - - - - - */ 

.login{
  height: 100vh;
}  

.login__form{
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column ;
  text-align: center;
  border-radius: 10px;
  align-content:center ;
}

.login__topline{
    margin-bottom: 6vh;
}

.login-signup__switch{
    padding: 1rem;
    text-align: center;
    margin-top:6vh ;
}
/* - - - - - -  LOGIN SITES ENDS - - - - - */ 




/*- - - - - - LANDING PAGE STARTS - - - - - */

.landing__list {
  margin-top: 2px auto;
  font-family: 'Mukta', sans-serif;
  font-weight: 100;
  font-size:small;
  display:inline-flex;
  flex-direction: row;
  gap:30px;
  justify-content: center;
  width: 100vw;
  padding-left: 0;
}


.li{
  place-self: center;
}

p{
  margin-top: 0%;
}
.info__app{
  font-family: 'Mukta', sans-serif;
  font-weight: 200;

} 
.landing__info__box{
  margin-top: 0;
  margin-right: 0;

}
.landing_down{
  display: grid;
  grid-template-columns:45% 1fr;
  grid-template-rows: 5 1fr;
}
.women{
  grid-area: 2/1/6/2;
}

.landing{
  max-height:100vh;
  margin: 1vh;
}

img.logo__main{
max-width:26%;
align-self: center;
margin-top:4vh ;


}
/*h1 - -money magnet  titel*/ 

.landing__tagline{    
margin-top:2vh;
margin-bottom: auto;
padding: bottom 30px; ;
align-self:center;
font-size: 26px;
border-bottom:solid  #92C347 ;
font-family: 'Mukta', sans-serif;

}


.landing__p {
margin-bottom: 0;
margin-top: 17px;
font-family: 'Mukta', sans-serif;
font-weight: 400;

}

.landing__p__haveaccount{
margin-top: 0;
margin-bottom: 0;
font-family: 'Mukta', sans-serif;
font-weight: 400;


}
.landing__signup--botton{
  padding:1rem;
  border-radius:15px;
  background-color:#FBE869;
  margin:  2 .5rem;
  margin-bottom: 16px;
  margin-top: 3px ;
  margin-left:6.8vh ;
  width:18vh;
  align-self: center;
  font-weight: 800;
  border-width: 1px;
  
}
.landing__login--botton{
  padding:1rem;
  border-radius: 15px;
  background-color:#92C347;
  margin-top: 3px ;
  margin-left:6.8vh ;
  width:18vh;
  align-self: center;
  font-weight: 800;
  border-width: 1px;

}

.landing_down--bottons{
  grid-area: 1/2/4/3;}


h4{
  margin-top: 2px;
  font-weight: 100;
  font-family: 'Mukta', sans-serif;
}

.landingunderskrift__text{
  text-align: center;
  font-size: 2.5vh;
  margin-bottom:0%;
  margin-top:  1vh;
  font-family: 'Mukta', sans-serif;
}

.landing__header{ 
display: flex;
flex-direction: column;
text-align: center;
margin-bottom: 2px;
}


.women{
width:300px;
}



/* - - - - - - - - - - - -ACCOUNT SITE STARTS - - - - - - - - -*/
.underaccount__text{
  font-size:var(--fontsizeMedium);
  font-weight: 100;
} 

.balanceaccount{
  width: 100vw;
  height: 100vh;
}

.overskrift__account{
  color: #8AB5E3;
  font-weight: 400;
  font-size: xx-large;
}
.overskrift{
text-align: center;
}
.balanceaccount__welcome--text{
  display: flex;
  flex-direction: column;
  text-align: center;
}



.label{
  font-weight: 100;
}

  
.input--nbr{
  height: 25px;
  width: 70%;
  border-radius:var(--borderRadiusSmall) ;
  border-width: 1px ;
  margin-bottom: 1.5rem;
}

.label__inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__nbr:active{
  background-color: var(--maincolor);
}

.balance--nbr--txt{
font-size: xx-large;
margin: 1rem auto 3rem;
border-radius: var(--borderRadiusSmall); }


.goto-monthlyexpences{
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: .5rem;
  text-decoration: none;
  color: black;
  text-align: right;
  font-weight: 100;
}

.arrows{
display: flex;
flex-direction:inline ;
flex-wrap: nowrap;
gap: 1rem;
justify-content: center;
align-items: center;
font-size: 20px;
border-top: solid  grey 1px;
}

.arrow__p{
margin-top: .5rem;
font-size: 15px;
margin-bottom: 0%;
font-weight: 100;
}
/* - - - - - - - - - - - -BALANCE ACCOUNT ENDS  - - - - - - - - - - - - - - */


/* - - - - - - - - - - - - ACCOUNT ENDS  - - - - - - - - - - - - - - */

/* - - - - - - - - - - - -  MONTHLY EXPENCES STARTS  - - - - - - - - - - - - - - */

.overskrift__expences{
  color: rgba(255, 0, 0, 0.859);
  font-weight: 200;
}
.chart{
  margin:1.5rem;
  margin-top: .5rem;
width: 80%;
align-self: center;
}



/* - - - - - - - - - - - - EXPENCES  MONTHLY ENDS  - - - - - - - - - - - - - - */



/* - - - - - - - - - - - NAV BAR STARTS HERE - - - - - - - - - - - -  */

@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');

footer{
      position: fixed;
      background-color: rgb(74, 67, 71);
      height: 50px;
      width: 100%;
      list-style: none;
      margin: 0%;
      margin-top: 1rem;
}
.navbar {
display: flex;
justify-content: space-around;
list-style: none;
padding-left: 0px;


}

.navbar__ikon{
      font-size:3vh;
}

.navbar__ikon--img{
      color: rgb(240, 244, 244);
      text-decoration: none;
}


/* - - - - - -  Bottom Navbar End - - - - - */ 

