body {
  margin: 0;
  padding: 5px;
  
  }
  .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808A72 ;
    padding: 1rem;
  }
 
  
  

  h1,h2,h4,p {
    color: white;
    
  }
  h4,h2{
    text-align: center;
    
  }
  
  
  
/* Stying the scroll and fixed bottom menu */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #808A72 ;
 background-size: cover;
}

.scroll {
  overflow-y: scroll;
  padding: 20px;
}

footer {
 
text-align: center;

}



}