* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(215, 79, 195);
    background-image: url(images/brackbrat3.svg);
    background-size: cover;
    width: 100vw;
}

a {
    color: black;
}

.header {
    background-color: rgb(213, 94, 227);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: relative;
    width: 100vw;
    z-index: 3;

}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(170, 99, 173)
}

.header ul a {
    display: block;
    padding: 20px;
    border-right: 1px solid black;
    text-decoration: none;
}

.header ul a:hover {
    background-color: rgb(229, 137, 234);
}

.header .img-logo {
    height: 60px;
    width: 60px;
    padding: 10px 20px;
    float: right;
    display: block;
    font-size: 2em;

}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: left;
    cursor: pointer;

}

.header .menu-icon .nav-icon {
    background: rgb(0, 0, 0);
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
    background: rgb(0, 0, 0);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon::after {
    background: rgb(0, 0, 0);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

.frontpage__video {
    position: relative;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.mostpopular h1 {
    font-family: Bebas Neue;
    font-size: 2rem;
    margin: 1rem;
}
.mostpopular h2 {
    font-family: Bebas Neue;
}
.cover_right {
    background-color: white;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
}
.cover_left {
    margin-top: 1rem;
    background-color: white;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.cover_left img {
    width: 30vw;
    justify-self: end;
    grid-row: span 2;
}
.listennow {
    border: 2px solid black;
    border-radius: 1rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 0.3rem;
}
.cover_right h1 {
    text-align: right;
}
.albumimg {
    width: 30vw;
    grid-row: span 2;
    align-self: center;
}

@media (min-width:48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: left;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}
@media (min-aspect-ratio: 16/9){
    .frontpage__video {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .front__video {
        width: auto;
        height: 100%;
    }
}