* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(images/brackbrat4.svg);
    background-color: #411243;
    background-size: 100vw;
    background-size: cover;
    width: 100vw;
}

a {
    font-family: Bebas Neue;
    font-weight: 600;
    text-align: center;
    color: white;
}

.header {
    background-color: #661053FA;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: relative;
    width: 100vw;
    z-index: 3;

}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #411243;
}

.header ul a {
    display: block;
    padding: 20px;
    border-right: 1px solid white;
    text-decoration: none;
}

.header ul a:hover {
    background-color: #661053FA;
}

.header .img-logo {
    height: 40%;
    width: 40%;
    padding: 10px 20px;
    float: right;
    display: block;
    font-size: 2em;

}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: left;
    cursor: pointer;

}

.header .menu-icon .nav-icon {
    background: white;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon::after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

.frontpage__video {
    position: relative;
    margin-top: 1rem;
    width: 100%;
    height: auto;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.mostpopular {
    margin: 1rem 0 1rem;
    display: grid;
    grid-template-columns: 1fr;
}
.mostpopular h1 {
    font-family: Bebas Neue;
    font-size: 2rem;
    margin: 1rem;
}

.cover_right {
    background-color: #661053FA;
    color: white;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
}

.cover_left {
    margin-top: 1rem;
    background-color: #661053FA;
    color: white;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.cover_left img {
    margin: 1rem 0 1rem;
    width: 140px;
    justify-self: end;
    grid-row: span 2;
}

.albumimg {
    margin: 1rem 0 1rem;
    width: 140px;
    grid-row: span 2;
    align-self: center;
}

.listennow {
    border: 2px solid white;
    width: 35vw;
    border-radius: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.7rem 0 0.5rem;
    font-family: Bebas Neue;
    margin: 0;
}
.cover_left a {
    text-decoration: none;
    color: white;
}
.cover_right a {
    text-decoration: none;
    justify-self: end;
    color: white;
}

.cover_right h1 {
    text-align: right;
}

.frontpage__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    background-color: black;
    margin-bottom: 1rem;
}
.frontpage__gallery_img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.frontpage__gallery a {
    font-family: Bebas Neue;
    font-weight: 600;
    color: red;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width:48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: left;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

@media (min-aspect-ratio: 16/9) {
    .frontpage__video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .front__video {
        width: auto;
        height: 100%;
    }
}
@media screen and (min-width: 640px) {
    .mostpopular {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .cover_right, .cover_left {
        width: 50vw;
    }
    .listennow {
        width: 20vw;
    }
    .frontpage__gallery_img {
        height: 200px;
    }
    .cover_left {
        margin-top: 0;
    }
}