
header{
    font:  sans-serif;
    color:white;
 
  
}
img {
   
    max-width: 40%;
    justify-content: center;

   }

 p{
    font: 1em sans-serif;
        color: white;
    }
    h1,h2, h3 {
    color:white;
    padding: 15px; ;
    text-align: center;
    border: 0ch;

    } 
h1 {margin: 10px;;

}
body {
   
   grid-template-columns: max-content;

    
    background-color: hsl(287, 91%, 14%);
    margin: 1rem;
    
      }
      .navegacion{
        width: 1000px;
        margin: 10px auto;
       background-color:rgba(198, 233, 215, 0.384) ;
      }
      .navegacion ul{
        list-style: none;
      }
      .menu >li{
        position: relative;
        display: inline-block;
      }
      .menu >li > a{
        display: block;
        padding: 0px 18px;
        font-family: open sans-serif;
        text-decoration:none;
        color: rgb(239, 230, 230);
      }
      .menu :hover{
        color: rgb(231, 86, 13);
        transition: all .3s;

      }
       
        .introphotos {
       
          display: flex;
          gap: 2rem;
          flex-direction;
          max-width: 100%;
      }
          
      
      
      
      #container{ 
        width: 100%;
       text-align:center ;
        border: 10px white;
        
      }
        


.profil {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
}
.paris  {display: flex;
  justify-content: center;
  gap: 2rem;
  grid-template: auto;
 
  max-width: 100%;
}

    


#newyork{ image: resolution 50px; ;
    


#newyork {
    

}
