

.menu {
  flex-wrap: wrap;
 align-items: flex-end;
 justify-content: end;
}


body {
 
    background-color:#075574 ;
    font-family: 'Roboto', sans-serif;
    
}
.logo {align-items: center;
      size: 10px;

 }
   

.container  {width: 50%;
            height: 50%;
    margin: 10%;
    align-items: center;
    grid-area: 20%;
    
}
.container img {
    height: 100%;
    width: 100%;
}
.container1 h1 {
font-size: 3rem;
color: white;
position: absolute;
top: 50%;
left: 50%;

}