:root {
    /* Farver */
    --font-color: #58595B;
    --background-color: #EDEDED;
    --backgroundSend-color: rgb(224, 152, 154);
    --backgroundPickup-color: rgb(200, 219, 188);
    --button-color: white;
    --buttonBorder-color: rgb(207, 229, 226);
    --buttonHover-color: rgb(200, 219, 188);
    --sections-color: white;
    --package-box: #A7A9AC;
    --secondary-border-color: #F1ABAB;

    /* Font size */
    --fontSizeXSmall: calc(var(--fontSizeMedium)/2);
    --fontSizeSmall: calc(var(--fontSizeMedium)/1.5);
    --fontSizeMedium: 1rem;
    --fontSizeLarge: calc(var(--fontSizeMedium)*1.5);
    --fontSizeXLarge: calc(var(--fontSizeMedium)*2);

    /* Spacing */
    --spaceXSmall: calc(var(--fontSizeMedium)/2);
    --spaceSmall: calc(var(--fontSizeMedium)/1.5);
    --spaceMedium: 1rem;
    --spaceLarge: calc(var(--fontSizeMedium)*1.5);
    --spaceXLarge: calc(var(--fontSizeMedium)*2);
}

body {
    margin: var(--spaceMedium);
    background-color: var(--background-color);
}

.button {
    background-color: var(--button-color);
    border-style: 3px var(--buttonBorder-color);
    width: 2.75rem;
}

img {
    max-width: 100%;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid rgb(128, 168, 197);
    background-color: rgb(128, 168, 197);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
}

.nav-link:hover{
    color: #7f7f7f;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: rgb(128, 168, 197);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}



/* Forside */
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card {
    border-radius: 25px;
    margin: .5rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.card__green {
    background-color: var(--backgroundPickup-color);
}
.card__red {
    background-color: var(--backgroundSend-color);
}
.card__img {
    max-width: 50%;
}
.card__button {
    background-color: white;
    border: none;
    padding: 4px 32px;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    color: var(--font-color);
    font-size: var(--fontSizeMedium);
    margin-top: var(--spaceXLarge);
    margin-bottom: var(--spaceMedium);
}

/* Hent side*/
.bodyHent {
    background-color: var(--backgroundPickup-color);
}
.goToDeliver__button {
    background-color: var(--backgroundSend-color);
    width: 4rem;
    height: 4rem;
    border-radius: 25%;
}
.pickupPackage {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.pickupPackage__guy {
    max-width: 50%;
}
.pickupPackage__header {
    color: white;
    font-size: var(--fontSizeXLarge);
    font-weight: bold;
}




/* Send side */
.bodySend {
    background-color: var(--backgroundSend-color);
}
.goToPickup__button {
    background-color: var(--backgroundPickup-color);
    width: 4rem;
    height: 4rem;
    border-radius: 25%;
}
.sendPackage {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.sendPackage__truck {
    max-width: 50%;
}
.sendPackage__header {
    color: white;
    font-size: var(--fontSizeXLarge);
    font-weight: bold;
}
.sendPackage__startButton {
    background-color: white;
    border: none;
    padding: 8px 128px;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    color: var(--backgroundSend-color);
    font-size: var(--fontSizeXLarge);
    font-weight: bold;
    margin-top: var(--spaceXLarge);
    margin-bottom: var(--spaceXLarge);
}
.sendPackage__link {
    color: white;
    margin-top: 1rem;
    font-size: var(--fontSizeMedium);
    font-weight: bold;
}


/* Registre */
.bodyRegistrer {
    background-color: var(--background-color);
}
.registrer {
    display: grid;
    grid-template-columns: 1fr;
}
.goBackArrow {
    max-width: 5%;
    margin: 1.5rem;
}
.registrer__package {
    max-width: 75%;
    margin-top: 8rem;
    justify-self: center;
    border: solid #E0E0E0 4px;
}
.registrer__number {
    text-align: center;
    font-size: var(--fontSizeLarge);
    color: var(--font-color);
    text-decoration: underline;
    margin-top: 16rem;
}
.registrerInput {
    display: inline-block;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}
.registrerInput__label {
    text-align: center;
    color: var(--font-color);
}
.registrerInput__input {
    padding: 8px 64px;
    display: inline-block;
    border-radius: 50px;
    font-size: var(--fontSizeXLarge);
    margin-top: var(--spaceXLarge);
    margin-bottom: var(--spaceXLarge);
}
.registrer__vidre {
    text-align: center;
    font-size: var(--fontSizeLarge);
    color: var(--font-color);
    text-decoration: underline;
}

/* Størrelse */
.registrer__whiteBackground {
    background-color: var(--sections-color);
    margin: 1.5rem;
    border: solid #CFE5E2 2px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.registrer__sizeImg {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-column: span 2;
    padding-bottom: 4rem;
}
.registrer__sizeLabel {
    text-align: end;
    padding-right: 1rem;
    padding-bottom: 2rem;
}
.registrer__sizeInput {
    font-size: var(--fontSizeXLarge);
}