/* Searching for package */
.searchingForPackage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.searchingForPackage__header {
    place-self: start;
    margin-bottom: var(--spaceLarge);
}

.searchingForPackage__subheader {
    text-align: center;
    margin-top: var(--spaceMedium);
}

.loading__circles {
    /* left: 10%;
    top: 25%;
    position: relative; */
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--package-box);
    border-bottom: 6px solid var(--package-box);
    border-top: 6px solid var(--package-box);
    align-self: center;
}

.animation {
    animation: rotate 6s linear infinite normal;
    margin: auto;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.help {
    width: 2.75rem;
}
