/* - - - - - - - - Searching for package - - - - - - - - */

.searchingForPackage {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.searchingForPackage__header {
    place-self: start;
    margin-bottom: var(--spaceLarge);
}

.searchingForPackage__subheader {
    text-align: center;
    margin-top: var(--spaceMedium);
}

.loading__circles {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #8ABBD4;
    border-bottom: 6px solid #8ABBD4;
    align-self: center;
}

.animation {
    animation: rotate 6s linear infinite normal;
    margin: auto;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.help__question {
    align-self: flex-start;
}

.help__questionImage {
    width: 2.75rem;
}

/* - - - - - - - - Opening Locker... - - - - - - - - - - */
#close {
    color: var(--secondary-border-color);
    font-weight: bolder;
    font-size: var(--fontXLarge);
    border: none;
}

.help__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--spaceLarge);
}
.arrow__right {
    width: 22px;
}

.arrow__right:active {
    transform: rotate(90deg);
}

details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }

  summary {
    margin-bottom: var(--spaceXSmall);
    color: var(--font-color);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
  }
