:root {
    /* Farver */
    --font-color: Black;
    --background-color: rgb(237, 237, 237);
    --backgroundSend-color: rgb(224, 152, 154);
    --backgroundPickup-color: rgb(200, 219, 188);
    --button-color: white;
    --buttonBorder-color: rgb(207, 229, 226);
    --buttonHover-color: rgb(200, 219, 188);
    --sections-color: white;
    --package-box: #A7A9AC;
    --secondary-border-color: #F1ABAB;

    /* Font size */
    --fontSizeXSmall: calc(var(--fontSizeMedium)/2);
    --fontSizeSmall: calc(var(--fontSizeMedium)/1.5);
    --fontSizeMedium: 1rem;
    --fontSizeLarge: calc(var(--fontSizeMedium)*1.5);
    --fontSizeXLarge: calc(var(--fontSizeMedium)*2);

    /* Spacing */
    --spaceXSmall: calc(var(--fontSizeMedium)/2);
    --spaceSmall: calc(var(--fontSizeMedium)/1.5);
    --spaceMedium: 1rem;
    --spaceLarge: calc(var(--fontSizeMedium)*1.5);
    --spaceXLarge: calc(var(--fontSizeMedium)*2);
}

body {
    margin: var(--spaceMedium);
}

.button {
    background-color: var(--button-color);
    border-style: 3px var(--buttonBorder-color);
    width: 2.75rem;
}

/* Send side */
.bodySend {
    background-color: var(--backgroundSend-color);
}