body{
    font-family: 'Bebas Neue', cursive;
    margin-top: 51px;
    width: 100vw;
    margin: 0 ;
    padding: 0;
    
    
}
html {
    scroll-behavior: smooth;
  }

/* nav bar */
header{
    border-bottom: #000000 2px solid;
    width: 100vw;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 9999;
}
nav{
    width: auto ;
    
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 1rem;
    text-align: center;
}

nav a{
    text-decoration: none;
    width: 100px;
    
   
}
.header-text{
    color: black;
    font-size: 2.5rem;
    
    
}
/* nav bar end */


/* top image */
.top-image{
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    
}

.top-image__img{
    width: 100%;
}
/* top image end */


/*All headline text*/
.headline{ 
    text-align: center;
    border-bottom: black solid 2px;
    font-size: 2rem;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

/*All headline text end*/


/* quick facts */

    

.quick-facts__setup{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "quick-facts__info quick-facts__img"; 
    align-items: center;
    justify-items: center;
}

.quick-facts__content{
    text-align: center; 
    font-size: 1rem;
    
}

.quick-facts__text{
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}



/* quick facts end*/


/* top tracks*/

.spotify{
    display: flex;
    justify-content: center;

}
.spotify__emb{
    width: 95vw;
    height: 380px;
}

/* top tracks end*/


/*top albums*/

.top-albums{
    text-align: center;
    
    
}
.top-albums__content{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem; 
    left: 50%;
    right: 50%;
    justify-items: center;
}

.top-albums__img{
    max-width: 49vw;
    
    
}
/* top album end */


/* picture gallery */
.picture-gallery{
    text-align: center; 
}

.picture-gallery__content{
    display: grid ;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0.5rem;
    left: 50%;
    right: 50%; 
    justify-items: center;
}

.picture-gallery__imgs{
    max-width: 49vw;
}

/* picture gallery end */


/* shop */
.shop{
    text-align: center;
}

.shop__content{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.product{
    display: grid;
    padding-bottom: 1rem;
    justify-items: center;
    
}
.product__img{
    max-width: 49vw;
    
}
.buy-now{
    box-shadow: 0px 0px 0px -50px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:10px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;

}
/* shop end */


/*footer*/
footer{
    text-align: center; 
    border-top: 2px solid black;
}
/*footer end*/


/*Media Querries*/
@media screen and (min-width: 760px) {

/*MediaQ shop settings*/  
 
.shop__content{
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;

}





}

@media screen and (min-width: 1200px) {


.shop__content{
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 2rem;
}

    
.product__img{
    margin-top: 2rem;
    margin-bottom: 3rem;
}   
.product__img:hover{
    transform: scale(1.25);
}


.buy-now:hover{
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color:#ffab23;
    z-index: 2;
}
   
}
@media screen and (min-width: 1600px) {
    
    .shop__content{
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 2rem;
    }
 
        
    .product__img{
        margin-top: 2rem;
        margin-bottom: 3rem;
    }   
    .product__img:hover{
        transform: scale(1.25);
    }
    
    
    .buy-now:hover{
        background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color:#ffab23;
    }

    .quick-facts__text{
        font-size: 1.4rem;
    }
    
    }
/*MediaQ shop settings end*/ 

/* Used content
https://www.bestcssbuttongenerator.com/#/14
https://www.codesdope.com/blog/article/25-creative-css3-text-shadow-effects-you-cant-miss/ (Shadow Nr.1)

*/