body{
    font-family: Roboto;
    margin-top: 51px;
    width: 99%;
    margin: 0 ;
    
}
html {
    scroll-behavior: smooth;
  }
/* nav bar */
header{
    border: 2px solid black;
    border-radius: 1rem;
    width: 99vw;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #86283B;
    top: 0;
    
}

.header-text{
    color: black;
    text-decoration: none;
    list-style: none; 
    
}

li{
    text-decoration: none;
    list-style: none;

}
/* nav bar end */

/* top image */
.top-image{
    justify-content: center;
    align-items: center;
    
}

.top-image__img{
    border-radius: 2rem ;
    width: 100%;
}
/* top image end */

/*All headline text*/
.headline{
    border-bottom: black solid 1px;
}
/*All headline text end*/

/* quick facts */
.quick-facts{
    
}
.quick-facts__content{
    display: grid;
    grid-template-columns: 1.2fr; 
    grid-template-rows: 0.4fr 1.6fr;
    text-align: center;
    background-color: #86283B;
    border-radius: 1rem;

}
.quick-facts__headline{
    
}

.quick-facts__info{
 
}
.quick-facts__text{
    
}
/* quick facts end*/

/* top tracks*/

/* top tracks end*/


/*top albums*/

.top-albums{
    text-align: center;
    background-color: #86283B;
    border-radius: 1rem;
}
.top-albums__content{
    display: grid; 
    grid-template-columns: 1fr 1.2fr; 
    grid-template-rows: 1fr 1fr; 

}

.top-albums__img{
    max-width:50vw
}
/* top album end */


/* picture gallery */
.picture-gallery{
    text-align: center;
    background-color: #86283B;
    border-radius: 1rem;
    
}
.picture-gallery__content{
    display: grid ;
    grid-template-columns: 1.5fr 1.5fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0.2rem;

}

.picture-gallery__imgs{
    max-width: 50vw;
    border-radius: 2rem;

}
/* picture gallery end */


/* shop */
.shop{
    text-align: center;
    background-color: #86283B;
    border-radius: 1rem;
    width: 99vw;

}

.shop__content{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1.5fr 1.5fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    
}
.product{
    display: grid;
    grid-auto-flow: 2fr;
    padding-bottom: 1rem;
    justify-items: center;
    
}
.product__img{
    max-width: 50vw;
    
}
.buy-now{
    display: block;
    background-color: #yellow ;
    width: 50%;
    border-radius: 2rem;

}
/* shop end */

/*footer*/
footer{
    background-color: #86283B   ;
    border-radius: 1rem;
    text-align: center; 

}

/*footer end*/