@import url("customprop.css"); 

.logo {
    width: 90vw;
    padding-top: 6rem;
}



body {
    padding: 1rem;
}


.overskrift{
    font-family: Roboto;
    font-weight: bold;
    color: var(--colorElements);
    text-align: center;
    margin-bottom: var(--spacingXXLarge);
    
    

}



/*-----Welcome Page ----- */ 
.buttons {
   text-align: center;
}

.buttonMain {
    color: var(--colorElements);
    border-radius: var(--buttonBorderRadius);
    font-size: var(--overskrift);
    font-weight: bold;
    width: 323px;
    height: 72px;
}

.buttons__opretProfil {
    background-color: var(--colorButtonMain);
    border: none; 
    margin-top: 10rem; 
    margin-bottom: var(--spacingSmall);
   
}

.buttons__logPaa {
    background-color: #83C5F0;
    
}




/* ----- Opret Profil ----- */ 

.inputFelt__indhold {
    border: 1px solid black;
    border-radius: 3px;
    width: 323px;
    height: 50px;
    font-family: Roboto Slab;
    font-size: 1rem;
    margin-bottom: var(--spacingSmall);
    padding: 1rem;
    
  

}

.oprettelse {
    margin-bottom: var(--spacingMedium);
}

.inputFelt {
    display: grid;

}

.inputFelt__overskrift {

    margin-bottom: var(--spacingSmall);
    padding: 0;
    font-size: 1.5rem;
}

.nbBetingelser {
    margin-top: 1.5rem;
}

.oprettelse__radioButton {
    margin: 0;
}

.oprettelse__label {
    font-family: 'Roboto', sans-serif;
}

.oprettelse__aktiveringslinkInformation {
    font-family: 'Roboto', sans-serif;
  
}

.overskrift__opretProfil {
    margin-bottom: var(--spacingXXLarge);
}

.arrow {
    color: white; 
    font-size: 1.5rem;
}

.button__sendAktiveringslink {
    margin-top: 15rem;
    color: var(--colorElements);
    background-color: var(--colorButtonMain);
    font-size: var(--textButton);
    align-content: center;
    justify-content: center;
    font-family:'Roboto', sans-serif;
}

.button__aktiveringslink {
    text-align: center;
    font-family:'Roboto', sans-serif;
}





/* ............................. */ 



/* ----- LOG PÅ ----- */ 

.pinkode {
   display: flex;
   gap: .5rem;
   justify-content: center;
   padding: 0;
   
}

.login {
    text-align: center;
    margin-top: var(--spacingLarge);
    
}

.pinkode__square {
    width: 50px;
    height: 50px;
}

.undertekst {
    font-size: var(--undertekst);
    text-align: center;
}



.login__h3--centreret {
    text-align: center;

}





/* ----- Choose Password ----- */ 

.choosePassword {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
   
}

.choosePassword__pinkode {
    margin-bottom: var(--spacingXLarge);
}

.choosePassword__text {
    text-align: center;
}

.keypadImage {
    margin-top: 18rem;
    position: fixed;
    bottom: 0;
    

}
