@import url("customprop.css");


.pageWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeText{
  color: #FF4742;
}

.boxText{ 
  color:#fff
}

.pakkeBoksBillede{
  padding-right: var(--spaceingXSmall);
  max-width: 100%;
  }



.pageWrapper--boksNummer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** RING SIDE - STARTS HERE :) */
.pageWrapper--Ring{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
img.support{
max-width: 15vh;
}


.button--telefon:hover,
.button--telefon:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button--telefon:active {
  opacity: .5;
}
    

.boxButton{
  display: flex;
  justify-content: center;
  width: 100%;
  
}

/* inspiration kilde Burger Menu fra: https://codepen.io/FreddyG87/pen/LYPeyao * Morphing Fullscreen Hamburger Menu Demo*/ 



  
   


