@import url("customprop.css");


.pageWrapper{display: flex;
  flex-direction: column;
  align-items: center;
  }

.luklågeskrift{
  color: #FF4742;
}

.dennelågeskrift{ 
  color:#fff
}

.pakkeBoksBillede{
  padding-right: var(--spaceingXSmall);
  max-width: 100%;
  }



.pageWrapper--boksNummer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** RING SIDE - STARTS HERE :) */
.pageWrapper--Ring{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
img.support{
max-width: 15vh;
}


.button--telefon:hover,
.button--telefon:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button--telefon:active {
  opacity: .5;
}
    
/**  MENU SIDE  START HERE:) */
.pageWrapper{
  height: 100vh;
 }
*, *:before, *:after 
{ box-sizing: border-box; }


body {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.6;
  overflow-x: hidden;
}
span.menu{
  margin-right: 1rem;
}

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #fa6900; /**  menu bakground piece*/
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #fa6900, 0 0 0 0 #fa6900;
  cursor: pointer;
  
}

label .hamburger {
  position: absolute;
  top: 140px;
  left: 70px;
  width: 30px;
  height: 2px;
  background: #fff; /** middle block menu */
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff; /** two top&bottom menu blocks */
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }
/** menu field expand after */
label input:checked + .menu {
  box-shadow: 0 0 0 100vw #fa6900, 0 0 0 100vh #fa6900;
  border-radius: 0;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + ul { opacity: 1; }

label ul {
  z-index: 200;
  position: absolute;
  top: 35%;
  left: 50%; /**   */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}

label .menu__a {
  margin-bottom: 1rem;
  display: block;
  color: #fff; /** menu a color */
  text-decoration: none;
  border-style: solid;
  
}


.menu__a{
  padding: .3rem 3.5rem;
  background-repeat: initial;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.openbox{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  --colorButtonMain: #00c608;
  --buttonBorderRadius: 25px ;
  align-items: center;
  
}

.next-site{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  --colorButtonMain: #00c608;
  --buttonBorderRadius: 25px ;
  align-items: center;
}

.afslutknap{  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  --colorButtonMain: #00c608;
  --buttonBorderRadius: 25px ;
  align-items: center;}
