@import url(customprop.css);

h1,h3{
       text-align: center;
       color: #fff;
}

/**   OPRETTER FORBINDELSE STARTS HERE  */
/**  ANIMATION STARTS  */
.loader {
      width: 150px;
      height: 150px;
      line-height: 150px;
      margin: 100px auto;
      position: relative;
      box-sizing: border-box;
      text-align: center;
      z-index: 0;
      text-transform: uppercase;
      color: aliceblue;
    }
    
    .loader:before,
    .loader:after {
      opacity: 0;
      box-sizing: border-box;
      content: "\0020";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 100px;
      border: 5px solid rgb(30, 183, 210);
      box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
    }
    
    .loader:after {
      z-index: 1;
      -webkit-animation: gogoloader 2s infinite 1s;
    }
    
    .loader:before {
      z-index: 2;
      -webkit-animation: gogoloader 2s infinite;
    }
    
    @-webkit-keyframes gogoloader {
      0% {
        -webkit-transform: scale(0);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        -webkit-transform: scale(1);
        opacity: 0;
      }
    }
     /** ANIMATION ENDS */

     .pageWrapper{
      height: 100vh;
     }
     .mainOpratterForbindelse{
    display: grid;
    grid-template-columns: 25% 30% 45% ;
    }

  .mobileBillede{
      max-width:120%;
      align-self: center;
     }

     .pakkeBoksBillede{
      padding-right: var(--spaceingXSmall);
      max-width: 88%;
     }


   
/**  FORBINDELSE FEJL 1  STARTS HERE */

.loader--fejl {
      width: 150px;
      height: 150px;
      line-height: 150px;
      margin: 100px auto;
      position: relative;
      box-sizing: border-box;
      text-align: center;
      z-index: 0;
      text-transform: uppercase;
      color:rgb(239, 66, 66);;
    }
    
    .loader--fejl:before,
    .loader-fejl:after {
      opacity: 0;
      box-sizing: border-box;
      content: "\0020";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 100px;
      border: 3px solid rgb(239, 66, 66);
      box-shadow: 0 0 50px rgb(223, 137, 137), inset 0 0 50px rgb(250, 79, 79);
    }
    
    .loader--fejl:after {
      z-index: 1;
      -webkit-animation: gogoloader 2s infinite 1s;
    }
    
    .loader--fejl:before {
      z-index: 2;
      -webkit-animation: gogoloader 2s infinite;
    }

/**  FORBINDELSENS FEJL ENDS HERE !!!  */

/**  FORBINDELSEN ETABLERET START :)  */
.loader--connected {
      width: 150px;
      height: 150px;
      line-height: 150px;
      margin: 100px auto;
      position: relative;
      box-sizing: border-box;
      text-align: center;
      z-index: 0;
      text-transform: uppercase;
      color:white;
    }
    
    .loader--connected:before,
    .loader--connected:after {
      opacity: 0;
      box-sizing: border-box;
      content: "\0020";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 100px;
      border: 3px solid rgb(9, 186, 50);;
      box-shadow: 0 0 50px rgb(57, 165, 24), inset 0 0 50px rgb(77, 198, 36);
    }
    
    .loader--connected:after {
      z-index: 1;
      -webkit-animation: gogoloader 2s infinite 1s;
    }
    
    .loader--connected:before {
      z-index: 2;
      -webkit-animation: gogoloader 2s infinite;
    }

    /** FORRBINDELSEN SIDE ENDS HERE!!!  */


    /** FLYT DIG STARTS HERE :) */
    
    .lilleMenneske{
 max-width: 120%;
 align-self: center;
    }

/** FEJL SIDE NR 2 -FLYT DIG ENDS  HERE!!! */


/** FORBINDELSEN FEJL SIDE STARTS HERE :) */
.pakkeBoksNummer--billede{
  max-width: 65%;
}
  /** FORBINDELSEN FEJL SIDE ENDS HERE!!! */  


/** RING SIDE - STARTS HERE :) */
.pageWrapper--Ring{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
img.support{
max-width: 15vh;
}


.button--telefon{
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;

  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  outline: 0;
  padding: 12px 48px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button--telefon:hover,
.button--telefon:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button--telefon:active {
  opacity: .5;
}
    