@import url("customprop.css");

body{
    padding: var(--spaceingMedium);
    width: 100vw;
}

h1{
text-align: left;

}

h2{
text-align: left;
}

h3{
text-align: left;
}

.placement-images{
    
    
}
.placement-images__img1{
    width: 100%;
    height: auto;
}
.placement-images__img2{
    width: 100%;
    height: auto;
}

.map{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem;
}

.map-link{
   display: flex;
   align-items: center;
   text-decoration: none;
    

}

.map-link__icon{
    color: black;
    padding: 0.5rem;
}

.next-page{
    display: flex;
    width: 100%;
    justify-content: center;
    
}
