nav {
    background-color: rgba(9, 9, 9, 0.742);
    width: 100%;
    height: 70px;
    
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

body {
    background-color: rgba(228, 244, 246, 0.832);
   
}

#Hvorforleagueoflegends {
    display: grid;
 


}


.anmeldelse-venstre-øvre {
grid-area: venstre-øvre ;
}

.anmeldelse-venstre-nedre {
grid--areas:  3 / 6 / 4 / 2;
}

.anmeldelse-højre-øvre {

}

.anmeldelse-højre-nedre {

}

.lol-banner {
    grid-area: 1 / 1 / 2 / 7; 
    margin: 0;
    width: 1024px;
    height: 400px;
    justify-self: center;
    padding: 20px;
}