@font-family: 'Roboto', sans-serif;

body{
    margin: 0;
    max-width: 100vw;
    padding: 0;
}

header{
    width: 100vw;
    background-color: #023020;
    border-bottom: #e3e9db 0.5rem solid;  
    padding: 0;
    margin: 0%;
}



.menu-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 1rem;
    margin: 0;
    
}

.menu__item{
    padding: 1rem;
    border: #e3e9db 0.2rem solid;
    border-radius: 2rem;
    margin: 0;
}

.menu__link{
    text-decoration: none;
    color:#e3e9db;
    padding: 1rem;
    font-family: Roboto;
    margin: 0;
}

main{
    background-image: url('Image/josefin-WS5yjFjycNY-unsplash.jpg'); 
    margin: 0;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    padding-top: 2rem;
    grid-template-rows: 
    "rock"
    "rap"
    "techno"
    ;
    
    
    
    
}

.rock{
    grid-area: rock;
}
.rap{
    grid-area: rap;
}
.techno{
    grid-area: techno;

}
section{
    padding-top: 0.5rem;  
    background-color: #00000065;
    text-align: center;
    color: #ffffff;
    font-family: roboto; 
}
h1{
    margin: 0;
    
    
}






/*
.color1 {color: #131c07;}
.color2 {color: #124e34;}
.color3 {color: #59a10c;}
.color4 {color: #bdd952;}
.color5 {color: #f4eb95;}
*/