body {
    background-color: rgb(179, 67, 67);
    margin: 2rem;
}

a.nav-logo{
    color: white;
}

.fruit__img{
    max-width: 100%;
}


.fruit-collection{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    
}

.fruit{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
}

input:hover{
    background-color: rgba(250, 122, 87, 0.66);
}
input{
    border-style: solid;
    border-color: rgba(241, 63, 63, 0.684);
    border-width:  1px;
    border-radius: 10px;
}

.fruit__button{
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    color: aliceblue;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 8px 0;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    width: 50%;
    align-self: center;
    font-weight: bold;
  }

.fruit__button:hover{
    color: black;
  }

.input-box{
    align-self: center;
  }

/* - - -Desktop - - - */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f9eeee;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #ecf0f7;
}

.nav-link:hover{
    color: #f7e02f;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #6ef72f;
}





@media screen and (min-width: 821px) {
    .navbar{
        display: flex;
    }
    .navbar__item{
        flex-grow: 1;    
    }
    .fruit-collection{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 2rem;
    }
    .fruit__button:active {
        box-shadow: 2px 2px 5px #f2a85d;}
} 


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* - - - MOBILE - - - */
@media screen and (max-device-width: 480px){
    h2{
        text-align: center;
    }
    p{
        padding-left:.5rem;
        text-align: center;
    }
   
.fruit-collection{
    display: flex;
  flex-direction: column;
}
.input-box{
    display: none;
}


}

/* - - -TABLET - - - */
@media screen and (min-width:481px) and (max-width:820px){
    .fruit-collection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    } 

    .fruit-collection{
        margin-top: 1.5rem;
    }
    .input-box{
        display: none;
    }
    }

/*------------------ RWD Burger COD PEN */

