body{
    background-color: #a5a9ac;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.login{
    background-color: #fff;
    padding: 2rem 1rem;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 1rem    ;
    text-align: center;
    width: 70%;
    border-radius: 10px;
    
    
}

.login__topline{

}

.login__input{
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 5px;
}

.login-signup__button{
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #35A7FF;
    margin: 1.2rem;

}
.login-signup__switch{
    padding: 1rem;

    
}