/*custom proppeties */
:root{
    --spacingDefoult: 
    --spacingSmall:var(--spacingDefoult)
    --spacingMedium:var(--spacingDefoult)
    --spacingLarge:var(--spacingDefoult)
    --spacingXLarge:var(--spacingDefoult)


    --fontSizeSmall:8px;
    --fontsizeMedium: 16px;
    --fontSizeLarge: 24px;
    --fontSizeXLarge:36px;

    --maincolor: lightgray;

    --borderRadiusSmall:5px;
    --borderRadiusMedium: 10px;
  


}

/*end custoum propperties  */

body{
  background-color: #FAF9F6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login__logo{
 max-width: 35%;
 align-self: center;
 margin-bottom: 5vh ;
  }

  .login-signup__button{
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #35A7FF;
    margin: 1.2rem;
    width:30vh;
    align-self: center;
}

.login__input{
    padding: 0.2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    margin-bottom:1.5rem;
    width:30vh;
    align-self: center;
  
}
  /*- - - - - - - Sign-up Site starts - - - - - - - */
  
.sign-up__box{
    padding: 2rem 1rem;
    margin: 50px auto;
    display: flex;
    flex-direction: column ;
    text-align: center;
    width: 70%;
    border-radius: 10px;
  align-content:center ;
}


p{ text-align: center;}
/*- - - - - - Ends sign-up site - - - - - - - */



/* - - - - - -  Login site starts - - - - - */ 

.login{
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    text-align: center;
    align-content: space-between;
}  

.login__form{
margin-top: 50px;
}


.login__topline{
    margin-bottom: 6vh;
}

.login-signup__switch{
    padding: 1rem;
    text-align: center;
}
