/*- - - - - - - Custom Propperties - - - - - - - */
:root{
    --spacingDefoult: 
    --spacingSmall:var(--spacingDefoult)
    --spacingMedium:var(--spacingDefoult)
    --spacingLarge:var(--spacingDefoult)
    --spacingXLarge:var(--spacingDefoult)


    --fontSizeSmall:8px;
    --fontsizeMedium: 16px;
    --fontSizeLarge: 24px;
    --fontSizeXLarge:36px;

    --maincolor: lightgray;
    --navcolor: #35a7ff;
    --navcolor-active: #6bf178;

    --borderRadiusSmall:5px;
    --borderRadiusMedium: 10px;

/* Settings Styler */ 
    


}

/*- - - - - - - End Custom Propperties - - - - - - - */
html {
    scroll-behavior: smooth;
  }
body{
  background-color: #FAF9F6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login__logo{
 max-width: 35%;
 align-self: center;
 margin-bottom: 5vh ;
  }

  .login-signup__button{
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #35A7FF;
    margin: 1.2rem;
    width:30vh;
    align-self: center;
}

.login__input{
    padding: 0.2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    margin-bottom:1.5rem;
    width:36vh;
    align-self: center;
}

  /*- - - - - - - Sign-up Site - - - - - - - */
.sign-up{
    height: 100vh;
}
.sign-up__box{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column ;
    text-align: center;
    border-radius: 10px;
    align-content:center ;
}


p{ text-align: center;}
/*- - - - - - Ends sign-up site - - - - - - - */



/* - - - - - -  Login site - - - - - */ 

.login{
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    text-align: center;
    align-content: space-between;
}  

.login__form{
margin-top: 50px;
}


.login__topline{
    margin-bottom: 6vh;
}

.login-signup__switch{
    padding: 1rem;
    text-align: center;
}

/* - - - - - -  End Login site  - - - - - */ 

/* - - - - - -  Settings site  - - - - - */ 
.settings{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;


}

.settings__icon{

}

.settings__headtext{

}

.settings__subtext{

}





/* - - - - - -  End Settings site  - - - - - */ 



































/* - - - - - -  Bottom Navbar - - - - - */
footer{
    position: fixed;
    bottom: 0;
    width: 99%;
    border-top: rgba(0, 0, 0, 0.144) 2px solid;
    
    
}

.nav__list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    height: auto;
    

}

.nav__items{
       
}

.nav__items-icon{
    text-decoration: none;
    color: var(--navcolor);
}
.nav__items-icon::content{
    color: var(--navcolor-active);
}
   
    


.nav__list-img{
    max-width: 65%;

}




/* - - - - - -  Bottom Navbar End - - - - - */ 