/* RESET BROWSER DEFAULTS */
body, h1, h2, h3, h4, h5, h6, p, a, ul, li, button {margin:0;padding:0;}
ul {list-style:none;}

/* GENERAL STYLES */
body {
}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
button {}


/* - - - SITE HEADER - - - */
.site-header {
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}

.logo {
    width: 25vh;
}


/* - - - MENU - - - */
.menu {
    width: 100vw;
    border-bottom: 0.2rem solid rgb(239, 62, 53);
}
.menu__list {
    padding: 5px 4%;
    display: flex;
    top: 0%;
    align-items: center;
    justify-content: space-between;
}
.menu__item a {
    text-decoration: none;
    color: rgb(239, 62, 53);
    font-family: Roboto Slab;
    font-weight: 500;
}
.menu__link {}



/* - - - HERO - - - */
.hero {}
.hero__heading {
    font-family: Roboto Slab;
    font-weight: 200;
    font-size: 1rem;
    color: rgb(239, 62, 53);
    background-color: white;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.hero__subheading {
    color: rgb(239, 62, 53);
    background-color: white;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    position: absolute;
    text-align: center;
    font-family: Roboto Slab;
    font-weight: 200;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.hero__image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 50%;
}



/* - - - POPULAR PRODUCTS - - - */
.popular-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 0.5rem;
}
.product {
    background-color: rgb(240, 240, 240);
    font-family: Roboto Slab;
    display: grid;
    max-width: 20vw;
    text-align: center;
    padding: 1rem;
    align-content: space-between;
}

.product__image {
    max-width: 20vw;
}
.product__category {
    font-weight: 600;
}
.product__name {
    font-weight: 400;
}
.product__price {
    font-weight: 600;
}
.product__add-to-cart {
    height: 1.5rem;
}
.product__add-to-cart--choice {}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 0.5rem;
}
.category1 {
    background-image: url(images/category_horse.png);
    background-repeat: no-repeat;
    height: 30vh;
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.gallery__headline {
    position: absolute;
    background-color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-top: 24vh;
    font-family: roboto slab;
    font-weight: 400;
}
.gallery__image {
    object-fit: cover;
    width: 20%;
    height: 20%;
    vertical-align: middle;
    border-radius: 1rem;
}

.site-footer {
    background-color: red;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-links {

}
.quick-links {
}
.quick-links__item {

}
.quick-links__link {

}
.categories-quick-links__item {

}
.opening-hours {

}
.opening-hours-table {

}
.site-footer__smilie {

}
.site-footer__copyright {
    background-color: white;
    text-align: center;
    padding: 1rem;

}