
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins&display=swap');
/* Custom Prop */
:root{
    /* Color */
    --primary: #F8F8F8;
    --primaryText: #554E4E;
    --primaryBtn: #0A82A8;

    --green: #006B3D ;
    --yellow: #EFC600 ;
    --red: #E03C32 ; 
    --dark:var(--primaryText);

    

}

  /* Body styles */
  .body {
    font-family: Lato;
    background-color: var(--primary);
    margin: 0;
   

  }
  
  /* Header styles */
  .header {
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav{

  }
  .navIcon {
    margin-right: 10px;
    color: var(--primaryText);
    
  }
  
  /* Main styles */
  .main {
    padding: 20px;
  }
  
  
/* Dosage styles */
.dosage {
  display: flex;
  
  margin-bottom: 20px;
  width: 192px;
  height: 32px;
  background-color: ;
  border: 1px solid var(--dark);
  
  }
  
  .dosageBar {
    background-color: #f9f9f9;
    height: 20px;
    margin-bottom: 10px;
  }
  .inputValue{
    border: none;
  }
  .dosageValue button {
    background-color: var(--primaryBtn);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 192;
    height: 32px;
  }
  .dosageValue__icon{
    font-size: 16px;
  }
  
  .dosageValue__now,
  .dosageValue__want {
    margin-bottom: 10px;
  }

  /* Status */
.status{

}

.statusHeadline{

}

.statusInfo{

}


  /* Facility */

  /* Pump */

  
  /* Guide section styles */
  .guide {
    margin-bottom: 20px;
  }
  
  .guideExplainer {
    background-color: #fff;
    padding: 20px;
  }
  
  .guide__text {
    margin-bottom: 10px;
  }
  
  .guideStep {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  .guideStep .guide__text {
    margin-bottom: 0;
  }
  
  .btn {
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
  }
  
  .btn.start {
    background-color: #0f0;
  }
  
  /* Pagination styles */
  .pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .paginationBtn {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
  }
  
  .left {
    margin-right: 10px;
  }
  
  .end {
    background-color: #f00;
  }
  
  