/* navbar/burgermenu */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header{
    border-bottom: 1px solid #E2E8F0;
}
nav {
    background-color: #302C42
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-left: 5rem;
}
.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.nav-link:hover{
    color: #72738b;
}
.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482FF7;
}
.nav-billede {
    max-width: 8rem;
    height: 8rem;
}
/* End navbar/burgermenu */

/* alle sider */
img {
    max-width: 100%;
}
body {
    background-image: url(images/logo-background.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #303274;
    margin: 1rem;
}
footer {
    background-color: #302C42;
    margin-top: 2rem;
}
/* End alle sider */

/* Forside */
.banner-img {
    width: 100%;
}
.profil {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
}
.profil-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profil-img {
    width: 50%;
    border-radius: 60%;
    justify-self: center;
}
.profil-h2 {
    color: white;
}
.profil-p {
    color: white;
}
.body-music {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}
.body-music-h1 {
    color: white;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 24px;
}
h3 {
    color: white;
}
.unity {
    border: 1px solid black;
}
.monody {
    margin-top: 2rem;
    border: 1px solid black;
}
.fly-away {
    margin-top: 2rem;
    border: 1px solid black;
}
.the-calling {
    margin-top: 2rem;
    border: 1px solid black;
}
/* End forsiden */

/* Contact siden*/
.contact-body {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}
.contact-body-h1 {
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 24px;
    margin-bottom: 0rem;
}
.contact-img {
    width: 50%;
    border-radius: 25%;
    justify-self: center;
    border: 1px solid black;
}
.contact-info {
    color: white;
    justify-self: center;
    margin-bottom: 2rem;
}
.platform-body {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}
.platform-body-h1 {
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 24px;
    margin-bottom: 0rem;
}
.platform-img {
    width: 50%;
    border-radius: 25%;
    justify-self: center;
    border: 1px solid black;
}
.platform-info {
    color: white;
    justify-self: center;
    margin-bottom: 2rem;
}
/* Ende contact siden */

/* gallery side */
.overskrift-gallery {
    text-align: center;
    padding: 2rem;
    grid-area: 1 / span 1;
    text-decoration: underline;
    font-size: 2.5rem;
}
.underoverskrift-to {
    margin: 10px;
}
.main-gallery {
    display: grid;
    grid-template-columns: 1fr;
   margin-top: 2rem;
}
.first-pic {
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 75%;
    border: 2px solid black;
    justify-self: center;
}
.second-pic {
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 75%;
    border: 2px solid black;
    justify-self: center;
}
.third-pic {
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 75%;
    border: 2px solid black;
    justify-self: center;
}
.fourth-pic {
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 75%;
    border: 2px solid black;
    justify-self: center;
}
.fifth-pic {
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 75%;
    border: 2px solid black;
    justify-self: center;
}
.sixth-pic {
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 75%;
    border: 2px solid black;
    justify-self: center;
}
.seventh-pic {
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 75%;
    border: 2px solid black;
    justify-self: center;
}
.billede-beskrivelse-et {
    text-align: center;
    color: white;
    font-weight: 200;
    margin-bottom: 2rem;
    max-width: 75%;
    justify-self: center;
}
.billede-beskrivelse-to {
    text-align: center;
    color: white;
    font-weight: 200;
    margin-bottom: 2rem;
    max-width: 75%;
    justify-self: center;
}
.billede-beskrivelse-tre {
    text-align: center;
    color: white;
    font-weight: 200;
    margin-bottom: 2rem;
    max-width: 75%;
    justify-self: center;
}
.billede-beskrivelse-fire {
    text-align: center;
    color: white;
    font-weight: 200;
    margin-bottom: 2rem;
    max-width: 75%;
    justify-self: center;
}
.billede-beskrivelse-fire {
    text-align: center;
    color: white;
    font-weight: 200;
    margin-bottom: 2rem;
    max-width: 75%;
    justify-self: center;
}
.billede-beskrive-fem {
    text-align: center;
    color: white;
    font-weight: 200;
    margin-bottom: 2rem;
    max-width: 75%;
    justify-self: center;
}
.billede-beskrive-seks {
    text-align: center;
    color: white;
    font-weight: 200;
    margin-bottom: 2rem;
    max-width: 75%;
    justify-self: center;
}
.billede-beskrive-syv {
    text-align: center;
    color: white;
    font-weight: 200;
    margin-bottom: 2rem;
    max-width: 75%;
    justify-self: center;
}
/* End gallery side */

/* ------------ Music side -------------- */ 

/* .main-music {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */

.musicpage-overskrift {
    color: white;
    text-align: center;
    margin-top: 4rem;
}

.nederstealbums {
    border-bottom: 1px solid black;
    border-radius: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.albums {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid black;
    margin-bottom: 2.5rem;
    padding: 2rem;
    gap: 2rem;
  
}
.overskrift-årstal {
    grid-column: span 3;
    text-align:left;
    font-weight: bold;
    text-decoration: underline;
    color: white;
}





.songs {
    border-radius: 30%;
    width: 15rem;
    border: 2px solid black;
}

.albums--2013 {
    margin-top: 3rem;
}

.albums--2018 {
    margin-bottom: 5rem;
}

   
.albumstext {
    color: white;
    grid-area: 1 / span 2;
    text-align: center;
    padding-bottom: 2rem;
}

.albumsbillede-et {
    padding: 1.2rem;
    border-radius: 30%;
    width: 15rem;
    justify-self: end;
   

}

.albumsbillede-to {
    padding: 1.2rem;
    border-radius: 30%;
    width: 15rem;
    justify-self: start;
  
}








/* ---------- MUSIC SIDE END ------------*/ 
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 1rem;
        flex-direction: column;
        background-color: #302C42;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (min-width: 769px) {
    .platform-body {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }
}