.top_info_img {
    max-width: 100%;
}
.mobil_interation {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.buttons {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    gap: 1rem;
}




/* Container needed to position the button. Adjust the width as needed */
.mobile_section {
    position: relative;
    width: 50%;
}
  
/* Make the image responsive */
.image_section {
    position: relative;
    top: 0;
    left: 0;
}
.phone {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    z-index: 1; /* default z-index for the image */
}
.forside {
    position: absolute;
    width: 30%;
    z-index: 0; /* default z-index for the image */
}
.image_local {
    position: absolute;
    width: 22%;
    top: 3rem;
    left: 3.17rem;
}
.image_border {
    position: absolute;
    width: 22%;
    top: 3rem;
    left: 3.17rem;
}
.image_scan {
    position: absolute;
    width: 22%;
    top: 3rem;
    left: 3.17rem;
}


.phone_btn {
    position: absolute;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
/* Style the button and place it in the middle of the container/image */
.mobile_btn {
    position: absolute;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.mobile_btn:hover {
    background-color: black;
}
.toggleImages {
    position: absolute;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    top: 0rem;
    left: 25rem;
}
.toggleImages:hover {
    background-color: black;
}


.steder {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.local {
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.border {
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.scan {
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}