.image_section {
    position: relative;
    top: 0;
    left: 0;
}

.phone {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.image_frontpage {
    position: absolute;
    width: 100%;
    z-index: 0;
}
.image_place {
    position: absolute;
    width: 100%;
    z-index: 0;
}
.image_local {
    position: absolute;
    width: 100%;
    z-index: 0;
}
.image_border {
    position: absolute;
    width: 100%;
    z-index: 0;
}
.image_scan {
    position: absolute;
    max-width: 75%;
    top: 2.8rem;
    left: 2.8rem;
    border-radius: 9%;
    z-index: 0;
}

.btnAndImages {
    position: relative;
    width: 22rem;
    height: 50rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button_section {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.btn_frontpage {
    position: absolute;
    top: 4.6rem;
    left: 3rem;
    width: 4rem;
    height: 2rem;
    opacity: 0;
}
.btn_place {
    position: absolute;
    top: 13.3rem;
    left: 3.5rem;
}
.btn_local {
    position: absolute;
    top: 18.4rem;
    left: 3.5rem;
}
.btn_border {
    position: absolute;
    top: 23.5rem;
    left: 3.5rem;
}
.btn_scan {
    position: absolute;
    top: 28.7rem;
    left: 3.5rem;
}

.theBtns {
    width: 15rem;
    height: 4.8rem;
    opacity: 0;
}

.video {
    max-width: 25%;
}