body{
    margin: 0;
    padding: 0;
    
    background-image: linear-gradient(to right bottom, #1158ac, #7453ad, #ac4b9f, #d34786, #ea5367, #de5060, #d14c5a, #c54954, #98355b, #662a55, #361f43, #101027);
    font-family: Roboto;
    max-width: 100vw;
}
/* Header/nav*/
header{
    margin: 0;
    width: 100vw;
    
}

nav{
    font-family: Roboto;
    height: 116px;
    margin: 0;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    


}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
}
nav ul{
    
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    margin: 1rem;
    text-decoration: none;
}
nav a{
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #000;
}
   
nav a:hover{
    color: #1158AC;
    border-bottom: 1px solid azure;
   
}
/* Content On site*/

/* Footer Styling*/
footer {
    position:end ;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content:space-evenly;
    background: rgba(255, 255, 255, 0.04);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
    align-items: center;
  }
  .footer-text{
    font-size: 10px;
    text-align: center;
  }