
/*      --------------------      GENEREL RULES        --------------------      */
/*
    - Use classes instead of id
    - Use Snake Case for naming stuff (name_name)
*/












/*      --------------------      ROOT        --------------------      */

:root {
    /* Colors*/
    /* Primary */
    --Color_primary: #0B5CAA;
    --Color_primary_acoustic: #0365b1;
    --Color_primary_haptic: #e6007e;
    --Color_primary_font: #303437;
    --Color_primary_background: #fafafa;
    --Color_contact_background: #E7EFF7;
    /* Secondary */
    --Color_secondary_font: #f4f4f4;
    --Color_secondary_background: #f4f4f4;
    --haptic_secondary_color: #FEF3F9;
    --acoustics_secondary_color: #CDE0EF;
    /* Gradient */
    --Color_header_gradient: linear-gradient( #f4f4f4 , #f4f4f400);
    --Color_horizontal_gradient: linear-gradient(to right, #0365b1 , #e6007e);
    --Color_vertical_gradient: linear-gradient( #0365b1 , #e6007e);
    /* Hover */
    --nav-hover: #003a71;
    
    /* Desktop */
    /* Fonts */
    --D_header: 2rem;
    --D_subheader: 1.5rem;
    --D_cardheader: 1.25rem;
    --D_nav: 1.25rem;
    --D_sub__nav: 1.25rem;
    --D_body: 1rem;
    --D_button: 1rem;
    --D_footer: 1rem;
    /* Spacing */
    /* Spacing */
    --D_xsmall: 0.5rem;
    --D_small: 1rem;
    --D_medium: 1.5rem;
    --D_large: 2rem;
    --D_xlarge: 3rem;
    --D_xxlarge: 4rem;

    /* Mobile */
    /* Fonts */
    --M_header: 1.5rem;
    --M_subheader: 1.25rem;
    --M_cardheader: 1.125rem;
    --M_nav: 1.125rem;
    --M_sub__nav: 1.125rem;
    --M_body: 1rem;
    --M_button: 1rem;
    --M_footer: 1rem;
    /*Spacing */
    --M_xxsmall: 0.5rem;
    --M_xsmall: 1rem;
    --M_small: 1.5rem;
    --M_medium: 2rem;
    --M_large: 2.5rem;
    --M_xlarge: 3rem;
    --M_xxlarge: 4rem;
}










/*      --------------------      GENEREL SETUP        --------------------      */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--Color_primary_background);
}
h1, h2, h3, h4 {
    font-family: 'Raleway';
    font-weight: bold;
    text-transform: uppercase;
    color: var(--Color_primary_font);
}
h5, h6, p {
    font-family: 'Calibri';
    font-weight: normal;
    color: var(--Color_primary_font);
}


h2 {
    font-size: var(--D_header);
}

h3 {
    font-size: var(--D_cardheader);
}

.--responsive{
    display: none
}

/*      --------------------      NAVIGATION        --------------------      */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
/* Style the navigation menu */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header{
    /* border-bottom: 1px solid #E2E8F0; */
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    background-color: var(--Color_primary);
    box-shadow: 2px 12px 10px 0px rgb(48, 52, 55, .25);
    width: 100%;
}

.navbar {
    display: flex;

    transition: top 0.5s ease;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--Color_secondary_font);
}
.nav-menu {
    display: flex;

    align-items: center;
    padding-left: 1.5rem;
}

.nav-link{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: var(--D_small);
    color: var(--Color_secondary_font);
    /* width: 100%; */
    height: 60px;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
}
.nav_dropdown {
    font-family: 'Raleway';
    font-weight: normal;
    font-size: var(--D_body);
}
.nav-menu:nth-child(1) {
    padding: 0;
}
.nav-link:hover{
    background-color: var(--nav-hover);
}
.nav-logo {
    padding: var(--D_small);
    width: 100%;
    /* display: inline-block; */
    
    background-size: 100%;
    background-position: center;

    transition: opacity 0.5s ease;
}
.--primary_nav_logo {
    background-image: url(images/bluepinkcloud.jpg);
}
.--haptic_nav_logo {
    background-image: url(images/pinksmokes.jpg);
}
.--acoustic_nav_logo {
    background-image: url(images/bluesmoke.jpg);
}
.nav-image {
    width: 130px;
}










/*      --------------------      DROPDOWN MENU        --------------------      */

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--Color_primary);
    padding: .5rem 0rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: var(--Color_secondary_font);
    padding: .5rem 1.5rem;
    text-decoration: none;
    display: block;
    text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--nav-hover);
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}









/*      --------------------      BUTTON SETUP        --------------------      */

button {
    font-weight: bold;
    border-radius: 4px;
    width: fit-content;
}
button:hover{
    cursor: pointer;
}
.--secondaryBtn {
    color: var(--Color_secondary_font);
    background-color: var(--Color_primary);
    padding: 8px 16px;
    border: none;
}
.--secondaryBtn:hover {
    background-color: var(--nav-hover);
}
.--secondaryBtn:active {
    box-shadow: inset 2px 2px 12px var(--nav-hover);
    background-color: var(--Color_primary);
}
.--HeroContact {
    transition: background-color 1.5s ease, border-color 2s ease;
    background-color: rgb(11, 92, 170, 0);
    color: #f4f4f4;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: var(--acoustics_secondary_color) solid thin;
}
.--HeroContact:hover {
    border: var(--Color_primary) solid thin;
    background-color: rgb(11, 92, 170, 1);
}
.--acousticBtn {
    border-image: url(images/bluesmoke.jpg) 30;
    border-image-width: 0 0 3px 0;
    border-bottom: 3px solid transparent;
    padding: 4px;
    background-color: transparent;
}
.--hapticBtn {
    border-image: url(images/pinksmokes.jpg) 30;
    border-image-width: 0 0 3px 0;
    border-bottom: 3px solid transparent;
    padding: 4px;
    background-color: transparent;
}










/*      --------------------      HERO SECTION        --------------------      */

.hero {
    position: relative;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: var(--D_xxlarge);
}
.heroImg {
    height: 440px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
.--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.7);
    z-index: -1;
}

.hero_images {
    position: absolute;
    right: 0;
    top: 70%;

}
.--acoustic {
    box-shadow: 2px 2px 16px 0px rgb(3, 101, 177, .25);
}
.--haptics {
    box-shadow: 2px 2px 16px 0px rgb(230, 0, 126, .25);

}
.heroImg--1 {
    float: right;
    position: relative;
    bottom: 240px;
    right: 64px;
    z-index: -1;
}
.heroImg--2 {
    float: right;
    position: relative;
    bottom: 180px;
    left: 40px;
    /* z-index: 1; */
}

.heroImg--3

.hero_text {
    padding-left: var(--D_xxlarge);
    width: fit-content;
}
.hero_paragraph {
    margin-bottom: var(--D_large);
    color: var(--Color_secondary_font);
}
.hero_header {
    margin-bottom: var(--D_xsmall);
    font-size: var(--D_xxlarge);
}
.--acoustics {
    color: var(--Color_primary_acoustic);
}
.--haptic {
    color: var(--Color_primary_haptic);
}
.hero_secondary_header {
    margin-bottom: var(--D_large);
    font-size: var(--D_large);
    color: var(--Color_secondary_font);
}
.hero_contact_paragraph {
    margin-bottom: var(--D_xsmall);
    color: var(--Color_secondary_font);
}
.hero_contact {
    display: flex;
    gap: var(--D_small);
}
.hero_icon {
    width: 44px;
    transform: scaleX(-1);
}









/*      --------------------      MAIN        --------------------      */










/*      --------------------      HEADER SECTION        --------------------      */

.header_section {
    background: var(--Color_header_gradient);
    max-width: 100%;
    padding: 4rem;
}
.header_section_header {
    color: var(--Color_primary_font);
    text-align: center;
    margin-bottom: 2rem;
    font-size: var(--D_header);
}
.header_section_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header_section_info_header {
    color: var(--Color_primary_font);
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: var(--D_subheader);
    margin-right: 1.5rem;
    margin-bottom: .5rem;
}
.header_section_info_text {
    color: var(--Color_primary_font);
    grid-column-start: 1;
    grid-row-start: 2;
    margin-right: 1.5rem;
}
.header_section_info_img {
    height: 350px;
    width: 100%;
    grid-row: span 2;
    border-radius: .5rem;

    object-fit: cover;
}









/*      --------------------      SUB-HEADER SECTION        --------------------      */

.subheader_section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.5rem;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
.subheader_section_image img {
    width: 100%;
    border-radius: .5rem;
}
.subheader_section_content h2 {
    color: var(--Color_primary_font);
    display: flex;
    align-items: center;
}
.subheader_section_content h2::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 50px;
    background: var(--Color_vertical_gradient); /* Gradient on the vertical line */
    margin-right: 1rem;
}
.subheader_section_content p {
    color: var(--Color_primary_font);
    line-height: 1.5;
    margin-top: 1rem;
}









/*      --------------------      CARDS        --------------------      */

.productsHeader{
    padding-top: var(--D_large);
    text-align: center;
    margin-bottom: var(--D_large);
}
.cards {
    margin: 0 4rem 4rem;
    display: flex;
    gap: var(--D_medium);
    row-gap: 2rem;
    flex-flow: wrap;
}
.card_items {
    display: flex;
    gap: var(--D_medium);
    width: 100%;
}
.card_item {
    flex: 0 1 calc(33.333% - 1rem);
    box-shadow: 2px 2px 16px 0px rgb(48, 52, 55, .25);
    border-radius: var(--D_xsmall);
}

.card_listItem{
    list-style-type: disc;
    margin: 0 1rem;
    margin-bottom: .25rem;
}

.card_itemImg {
    width: 100%;
    height: 200px;
    border-top-left-radius: var(--D_xsmall);
    border-top-right-radius: var(--D_xsmall);
    object-fit: cover;
}
.card_item_text {
    padding: var(--D_small);
}
.--cardheader {
    text-align: center;
    margin-bottom: var(--D_xsmall);
}
.card_item_body {
    margin-bottom: var(--D_small);
}




/* Applications */
.applications_gallery{
    width: 100vw;
    display: flex;
    overflow: scroll;
    margin-bottom: var(--D_small);
}
.applications_galleryImg{
    width: 100vw;
    height: 400px;
    object-fit: cover;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: var(--D_xxlarge);
    margin-bottom: var(--D_large);
}
.galleryImg {
    width: 400px;
    
    object-fit: cover;
}
.--active {
    margin: var(--D_xlarge) 0;
    transform: scale(1.5);
    box-shadow: 2px 2px 16px 0px rgb(48, 52, 55, .25);
}
.--inactive {
    filter: blur(5px);
    z-index: -1;
}

/* Slider */
.slider-wrapper {
    /* margin: 1rem; */
    margin: 0;
    position: relative;
    overflow: hidden;
  }
    
  .slides-container {
    height: 80vh;
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;
    scroll-snap-type: x mandatory; 
  }
    
  .slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
  }
    
  .slide-arrow:hover,
  .slide-arrow:focus {
    opacity: 1;
  }
    
  .slide-arrow-prev {
    left: 0;
    padding-left: .25rem;
    border-radius: 0 2rem 2rem 0;
    z-index: 1;
  }
    
  .slide-arrow-next {
    right: 0;
    padding-left: .75rem;
    border-radius: 2rem 0 0 2rem;
    z-index: 1;
  }
    
  .slide {
    width: 100%;
    /* height: 100%; */
    flex: 1 0 100%;
    scroll-snap-align: start; 

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    
  .slide:nth-child(1) {
    background-color: green;
  }
    
  .slide:nth-child(2) {
    background-color: 	red;
  }
    
  .slide:nth-child(3) {
    background-color: blue;
  }
    
  .slide:nth-child(4) {
    background-color: yellow;
  }

.applications_gallery_indicators {
    display: flex;
    gap: var(--D_small);
    justify-content: center;
    margin-bottom: var(--D_large);
}
.applications_gallery_dot {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}
.--activeDot {
    background: url(images/pinksmokes.jpg);
    background-position: 50%;
    box-shadow: 2px 2px 16px 0px rgb(48, 52, 55, .25);
}
.--inactiveDot {
    background-color:  var(--haptic_secondary_color);
    box-shadow: inset 2px 2px 16px -7px gray;

}

/* Applications ACOUSTICS */
.applications {
    padding: 0 var(--D_xxlarge);

    display: flex;
    /* flex-direction: column; */
    gap: var(--D_medium);
}


/* TRENDS */
.demo {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: var(--D_xxlarge);
}
.demo_img{
    padding: 0 var(--D_xxlarge);
    width: 100%;
    object-fit: cover;
    
}
.demo_button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: var(--Color_primary_background);
    border: none;
}
.demo_text {
    margin-bottom: var(--D_small);
    position: relative;
    bottom: 300px;
    left: 490px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 0;
}
/* Positioning of the dang buttons on the demo :sob:  */
.demo_buttons {
    height: 0;
    width: 0;
}
.demo_automotive--1{
    position: relative;
    bottom: 320px;
    left: 150px;
}
.demo_automotive--2{
    position: relative;
    bottom: 430px;
    left: 70px;
}
.demo_automotive--3{
    position: relative;
    bottom: 380px;
    left: 20px;
}
.demo_automotive--4{
    position: relative;
    bottom: 380px;
    right: 110px;
}
.demo_automotive--5{
    position: relative;
    bottom: 320px;
    right: 50px;
}




/* TECHNOLOGY */
.--sectionBackground {
    background: var(--Color_header_gradient);
}
.technology {
    flex: 1 1 calc(33.333% - 1.5rem);
}
.technology_header {
    display: flex;
    align-items: center;
    gap: var(--D_xsmall);

    margin-bottom: var(--D_xsmall);
}
.technology_header_img{
    width: var(--D_small);
    height: var(--D_large);
}
/* .technology_header_img:nth-child(2) {
    width: var(--D_xsmall);
} */




/* Partner */
.--partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: var(--D_xxlarge); */
}
.--partnerBlue {
    background-color: var(--Color_contact_background);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.--partner {
    display: flex;
    justify-content: center;
    
}
.--partnerImg {
    padding: 1rem 1rem 0 1rem;
    width: 80%;
    object-fit: contain;
}
.becomePartner{
    padding-top: var(--D_medium);
    display: flex;
    gap: var(--D_medium);
}
.becomePartner_img {
    width: 100%;
    object-fit: cover;
}
.becomePartner_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
}
.becomePartner_header{
    margin-bottom: var(--D_xsmall);
}
.becomePartner_body {
    margin-bottom: var(--D_small);

}









/*      --------------------      CONTACT SECTION        --------------------      */

.contact_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contact_section_form_namefields {
    display: flex;
    gap: 2rem; /* Gap between firstname and lastname labels */
}
.contact_section_form_namefields .contact_section_form_formgroup {
    flex: 1; /* Ensuring each field takes half the space */
}
.contact_section_form_label {
    font-family: 'Calibri';
    font-weight: normal;
    font-size: var(--D_body);
    color: var(--Color_primary_font);
}
.contact_section_form_section {
    display: flex;
    flex-direction: column;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    font-family: 'Calibri';
    font-weight: normal;
    font-size: var(--D_body);
    color: #808081;
    width: 100%; /* Full width */
    padding-top: .5rem; /* Some padding */
    padding-bottom: .5rem; /* Some padding */
    padding-left: 1rem;
    padding-right: 1rem;
    border: none; /* To remove border, or a black border will appear */
    background-color: var(--Color_contact_background);
    border-radius: .5rem; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-bottom: 1rem; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
.contact_section_form_section_button {
    background-color: var(--Color_primary);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem; /* Afstand mellem ikon og tekst */
    width: fit-content;
    padding: 1rem;
}
.contact_section_form_section_button:hover {
    background-color: var(--nav-hover);
}
.contact_section_form_section_button .contact_section_form_section_icon {
    width: 16px; /* Juster størrelsen på ikonet efter behov */
    height: 16px;
    transform: rotate(-15deg);
}
.contact_section_information {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_section_information_image {
    max-width: 50%;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
}









/*      --------------------      FOOTER        --------------------      */

/* Footer */
footer {
    background-color: var(--Color_primary);
    display: flex;
    padding-top: 1.5rem;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}
.legal_requirement {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    gap: var(--M_xxsmall);
}
.some_chanels_linkedin {
    max-width: 2rem;
}
/* 
}
.some_chanels {
    justify-self: center;
}
.contact_information_icon {
    max-width: 1rem;
    justify-self: end;
    align-self: center;
} */

.contact_information_header {
    /* grid-column: span 2; */
    /* justify-self: center; */
    padding-bottom: 4px;
}

.contact_information {
    /* justify-self: center; */
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    gap: var(--M_xsmall);
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
}
.footer_stuff {
    color: var(--Color_secondary_font);
    /* padding: .5rem; */
    
    display: flex;
    gap: var(--M_xxsmall);
}
.contact_information_icon{
    max-width: 1rem;
    align-self: baseline;        
}
.contact_information_phone{
    display: flex;
    align-items: baseline;
    gap: var(--M_xxsmall);
}

.contact_information_mail{
    display: flex;
    align-items: baseline;
    gap: var(--M_xxsmall);
}

.contact_information_location_info {
    color: var(--Color_secondary_font);
}






  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--Color_primary);
    padding: .5rem 0rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: var(--Color_secondary_font);
    padding: .5rem 1.5rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: var(--nav-hover);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media only screen and (max-width: 768px) {

    h2 {
        font-size: var(--M_header);
    }
    
    h3 {
        font-size: var(--M_cardheader);
    }

    /* Navigation */
    .navbar{
        justify-content: end;
        padding: var(--M_xsmall) var(--M_small);
    }
    .nav-image {
        padding-top: 1rem;
        width: 170px;
    }
    .nav-menu { 
        position: fixed;
        left: -100%;
        flex-direction: column;
        background-color: var(--Color_primary);
        width: 100%;
        border-radius: 10px;
        text-align: left;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        gap: var(--M_small);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .nav-menu:nth-child(1){
        padding-top: 2rem;
    }
    .nav-link {
        font-size: var(--M_xsmall);
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .nav-link:active{
        background-color: var(--nav-hover);
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }


    /*      --------------------      HERO SECTION        --------------------      */
    .hero_images {
        display: none;
    }
    .hero {
        padding-left: var(--M_small);

    }
    .heroImg {
        object-fit: cover;
    }
    .hero_paragraph {
        margin-bottom: var(--M_medium);
    }
    .hero_header {
        font-size: var(--M_large);
        margin-bottom: var(--M_xxsmall);
    }
    .hero_secondary_header {
        margin-bottom: var(--M_medium);
        font-size: var(--M_xsmall);
    }
    .hero_contact_paragraph {
        margin-bottom: var(--M_xsmall);
    }
    .hero_contact {
        gap: var(--M_xxsmall);
    }

    /*      --------------------      ABOUT SECTION        --------------------      */

    .header_section {
        padding: var(--M_small);

    }
    
    .header_section_info_img {
        height: 150px;
        object-fit: cover;
    }

    .header_section_info {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--M_xsmall);
    }

    .header_section_header {
        font-size: var(--M_header);
    }

    .header_section_info_header {
        font-size: var(--M_subheader);
    }





    /*      --------------------      Application gallery        --------------------      */
    .applications_galleryImg {
        height: 200px;
        object-fit: cover;
    }

    .applications_gallery_dot{
        width: 16px;
        height: 16px;
    }

    /*      --------------------      CARDS        --------------------      */
    .technology_header_img {
        width: var(--M_xsmall);
        height: var(--M_small);
    }

    .productsHeader{
        padding-top: var(--M_medium);
        margin-bottom: var(--M_small);
    }

    .cards {
        margin: 0 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--D_medium);
        
    }

    .card-items {
        display: flex;
        gap: var(--D_medium);
    }

    .card-item {
        width: 100%;
        background-color: var(--Color_secondary_background);
        box-shadow: 2px 2px 16px 0px rgb(48, 52, 55, .25);
        border-radius: var(--D_xsmall);
    }

    .card-itemImg {
        width: 100%;
        height: 200px;

        border-top-left-radius: var(--D_xsmall);
        border-top-right-radius: var(--D_xsmall);

        object-fit: contain;
    }

    .card-item_text {
        padding: var(--D_small);

    }

    .--cardheader {
        text-align: center;
        margin-bottom: var(--D_xsmall);
    }

    .card-item_body {
        margin-bottom: var(--D_small);
    }





    /* --- DEMO --- */
    .demo {
        display: flex;
        padding: 0 var(--M_small) 0;

        margin-bottom: var(--M_medium);
    }

    .demo_img{
        width: 100%;
        object-fit: cover; 
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: var(--M_xsmall);   
    }

    .demo_buttons {
        display: flex;
        justify-content: center;
        gap: var(--D_xsmall);

        height: 100%;
        width: 100%;

        padding-bottom: var(--M_xsmall);
    }

    .demo_button {
        border-radius: 50%;
        /* width: 44px;
        height: 44px; */

        background-color: var(--Color_contact_background);
    }

    .demo_text {
        margin-bottom: var(--D_small);
        
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        gap: var(--M_xsmall);

        width: 100%;
        height: 100%;

        position: relative;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
    }

    .demo_text p {
        width: fit-content;
    }

    /* Positioning of the dang buttons on the demo :sob:  */

    .demo_automotive--1{
        position: relative;
        bottom: 0;
        left: 0;
    }
    .demo_automotive--2{
        position: relative;
        bottom: 0;
        left: 0;
    }
    .demo_automotive--3{
        position: relative;
        bottom: 0;
        left: 0;
    }
    .demo_automotive--4{
        position: relative;
        bottom: 0;
        left: 0;
    }
    .demo_automotive--5{
        position: relative;
        bottom: 0;
        left: 0;
    }   



    /* --- PARTNERS --- */
    .--partnerBlue {
        background-color: var(--Color_contact_background);
    
    }
    
    .--partnerImg {
        width: 90%;
        object-fit: contain;
    }
    .becomePartner{
        /* padding: var(--D_xxlarge); */
        display: flex;
        flex-direction: column-reverse;
        gap: var(--D_medium);

    }

    .becomePartner_img {
        width: 100%;
    }
    
    .becomePartner_text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .becomePartner_header{
        margin-bottom: var(--D_xsmall);
    }
    .becomePartner_body {
        margin-bottom: var(--D_small);
    
    }

    /* Footer */
    footer {
        /* display: flex;
        justify-content: space-between; */
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-areas: 
        "legal . . contact"
        "linkedin . . contact"
        ". . . contact";
        gap: var(--M_small);

        padding: var(--M_small);
    }
    .footer_stuff {
        color: var(--Color_secondary_font);
        /* padding: .5rem; */

        display: flex;
        gap: var(--M_xxsmall);
    }
    .contact_information_icon{
        align-self: baseline;        
    }
    .contact_information_phone{
        display: flex;
        align-items: baseline;
        gap: var(--M_xxsmall);
    }

    .contact_information_mail{
        display: flex;
        align-items: baseline;
        gap: var(--M_xxsmall);
    }

    .legal_requirement {
        margin-left: 0;
    }
  
    .some_chanels{
        grid-area: linkedin;
    }
    .--responsive {
        display: block;

        padding-top: var(--M_xsmall);
    }
    .--desktop{
        display: none;
    }
    .contact_information{
        grid-area: contact;
        margin: 0;
        grid-template-columns: auto;
        
        display: flex;
        flex-direction: column;
    }
   
}