
/*      --------------------      GENEREL RULES        --------------------      */
/*
    - Use classes instead of id
    - Use Snake Case for naming stuff (name_name)
*/












/*      --------------------      ROOT        --------------------      */

:root {
    /* Colors*/
    /* Primary */
    --Color_primary: #0B5CAA;
    --Color_primary_acoustic: #0365b1;
    --Color_primary_haptic: #e6007e;
    --Color_primary_gradient: linear-gradient(to right, #0365b1 , #e6007e);
    --Color_primary_font: #303437;
    --Color_primary_background: #fafafa;
    /* Secondary */
    --Color_secondary_font: #f4f4f4;
    --Color_secondary_background: #f4f4f4;
    --haptic_secondary_color: #FEF3F9;
    --acoustics_secondary_color: #E7EFF7;
    /* Hover */
    --nav-hover: #003a71;
    
    /* Desktop */
    /* Fonts */
    --D_header: 2rem;
    --D_subheader: 1.5rem;
    --D_cardheader: 1.25rem;
    --D_nav: 1.25rem;
    --D_sub__nav: 1.25rem;
    --D_body: 1rem;
    --D_button: 1rem;
    --D_footer: 1rem;
    /* Spacing */
    /* Spacing */
    --D_xsmall: 0.5rem;
    --D_small: 1rem;
    --D_medium: 1.5rem;
    --D_large: 2rem;
    --D_xlarge: 3rem;
    --D_xxlarge: 4rem;

    /* Mobile */
    /* Fonts */
    --M_header: 1.5rem;
    --M_subheader: 1.25rem;
    --M_cardheader: 1.125rem;
    --M_nav: 1.125rem;
    --M_sub__nav: 1.125rem;
    --M_body: 1rem;
    --M_button: 1rem;
    --M_footer: 1rem;
    /*Spacing */
    --M_xxsmall: 0.5rem;
    --M_xsmall: 1rem;
    --M_small: 1.5rem;
    --M_medium: 2rem;
    --M_large: 2.5rem;
    --M_xlarge: 3rem;
    --M_xxlarge: 4rem;
}










/*      --------------------      GENEREL SETUP        --------------------      */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--Color_primary_background);
}
h1, h2, h3, h4 {
    font-family: 'Raleway';
    font-weight: bold;
    text-transform: uppercase;
    color: var(--Color_primary_font);
}
h5, h6, p {
    font-family: 'Calibri';
    font-weight: normal;
    color: var(--Color_primary_font);
}







/*      --------------------      NAVIGATION        --------------------      */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
/* Style the navigation menu */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header{
    /* border-bottom: 1px solid #E2E8F0; */
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    background-color: var(--Color_primary);
    box-shadow: 2px 12px 10px 0px rgb(48, 52, 55, .25);
    width: 100%;
}

.navbar {
    display: flex;

    transition: top 0.5s ease;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--Color_secondary_font);
}
.nav-menu {
    display: flex;

    align-items: center;
    padding-left: 1.5rem;
}

.nav-link{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: var(--D_small);
    color: var(--Color_secondary_font);
    /* width: 100%; */
    height: 60px;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
}
.nav_dropdown {
    font-family: 'Raleway';
    font-weight: normal;
    font-size: var(--D_nav);
}
.nav-menu:nth-child(1) {
    padding: 0;
}
.nav-link:hover{
    background-color: var(--nav-hover);
}
.nav-logo {
    padding: var(--D_small);
    width: 100%;
    /* display: inline-block; */
    
    background-size: 100%;
    background-position: center;

    transition: opacity 0.5s ease;
}
.--primary_nav_logo {
    background-image: url(images/bluepinkcloud.jpg);
}
.--haptic_nav_logo {
    background-image: url(images/pinksmokes.jpg);
}
.--acoustic_nav_logo {
    background-image: url(images/bluesmoke.jpg);
}
.nav-image {
    width: 130px;
}










/*      --------------------      DROPDOWN MENU        --------------------      */

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--Color_primary);
    padding: .5rem 0rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: var(--Color_secondary_font);
    padding: .5rem 1.5rem;
    text-decoration: none;
    display: block;
    text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--nav-hover);
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}









/*      --------------------      BUTTON SETUP        --------------------      */
button {
    border-radius: 4px;
}
button:hover{
    cursor: pointer;
}
.--secondaryBtn {
    color: var(--Color_secondary_font);
    background-color: var(--Color_primary_grewus);

    padding: 4px 8px;
    border: none;
}
.--secondaryBtn:hover {
    background-color: var(--Color_primary);
}
.--secondaryBtn:active {
    box-shadow: inset 2px 2px 12px var(--nav-hover);
    background-color: var(--Color_primary);
}
.--HeroContact {
    transition: background-color 1.5s ease, border-color 2s ease;
    background-color: rgb(11, 92, 170, 0);
    color: #f4f4f4;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: var(--acoustics_secondary_color) solid thin;
}
.--HeroContact:hover {
    border: var(--Color_primary) solid thin;
    background-color: rgb(11, 92, 170, 1);
}

.--acousticBtn {
    border-image: url(images/bluesmoke.jpg) 30;
    border-image-width: 0 0 3px 0;
    border-bottom: 3px solid transparent;
    padding: 4px;
    background-color: transparent;
}
.--hapticBtn {
    border-image: url(images/pinksmokes.jpg) 30;
    border-image-width: 0 0 3px 0;
    border-bottom: 3px solid transparent;
    padding: 4px;
    background-color: transparent;
}










/*      --------------------      HERO SECTION        --------------------      */

.hero {
    position: relative;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--D_xxlarge);
}

.heroImg {
    height: 440px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.7);
    z-index: -1;
}

.hero_text {
    padding-left: var(--D_xxlarge);
}

.hero_paragraph {
    margin-bottom: var(--D_large);
    color: var(--Color_secondary_font);
}

.hero_header {
    margin-bottom: var(--D_xsmall);
    font-size: var(--D_xxlarge);
}

.--acoustics {
    color: var(--Color_primary_acoustic);
    
}

.--haptic {
    color: var(--Color_primary_haptic);

}

.hero_secondary_header {
    margin-bottom: var(--D_large);
    font-size: var(--D_large);
    color: var(--Color_secondary_font);
}

.hero_contact_paragraph {
    margin-bottom: var(--D_xsmall);
    color: var(--Color_secondary_font);
}

.hero_contact {
    display: flex;
    gap: var(--D_small);
}

.hero_icon {
    width: 44px;
    transform: scaleX(-1);
}









/*      --------------------      MAIN        --------------------      */









/*      --------------------      CARDS        --------------------      */
.productsHeader{
    text-align: center;
    margin-bottom: var(--D_large);
}

.cards {
    margin: 0 4rem 4rem;
    display: flex;
    gap: var(--D_medium);
    /* flex-direction: column;
    justify-content: center; */


}

.card-items {
    display: flex;
    gap: var(--D_medium);
}

.card-item {
    width: calc(100%/3);
    background-color: var(--Color_secondary_background);
    box-shadow: 2px 2px 16px 0px rgb(48, 52, 55, .25);
    border-radius: var(--D_xsmall);
}

.card-itemImg {
    width: 100%;
    height: 200px;

    border-top-left-radius: var(--D_xsmall);
    border-top-right-radius: var(--D_xsmall);

    object-fit: cover;
}

.card-item_text {
    padding: var(--D_small);

}

.--cardheader {
    text-align: center;
    margin-bottom: var(--D_xsmall);
}

.card-item_body {
    margin-bottom: var(--D_small);
}










/* Applications */
.applications_gallery{
    width: 100vw;
    display: flex;
    
    overflow: scroll;

    margin-bottom: var(--D_small);
}
.applications_galleryImg{
    width: 100vw;
    height: 400px;
    object-fit: cover;
}

.applications_gallery_indicators {
    display: flex;
    gap: var(--D_small);
    justify-content: center;
    margin-bottom: var(--D_large);
}

.applications_gallery_dot {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.--activeDot {
    background: url(images/pinksmokes.jpg);
    background-position: 50%;
    box-shadow: 2px 2px 16px 0px rgb(48, 52, 55, .25);
}

.--inactiveDot {
    background-color:  var(--haptic_secondary_color);
    box-shadow: inset 2px 2px 16px -7px gray;

}










/* TRENDS */
.demo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo_img{
    padding: 0 var(--D_xxlarge);
    width: 100%;
    /* height: 400px; */
    object-fit: cover;
    
}

/* .demo_buttons {
    position: relative;
    bottom: 50%;
    left: 50%;
} */

/* .demo_button:nth-child(1) {
    position: fixed;
    bottom: 50%;
} */

.demo_button {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: var(--Color_secondary_background);
    border: none;
}

/* .demo_text {

} */

/* Positioning of the dang buttons on the demo :sob:  */
.demo_automotive--1 {
    position: relative;
    /* top: 40px; */
    bottom: 0;
}





/*      --------------------      FOOTER        --------------------      */

/* Footer */
footer {
    background-color: var(--Color_primary);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.5rem;
}
.footer_stuff {
    color: var(--Color_secondary_font);
    padding: .5rem;
}
.legal_requirement {
    margin-left: 4rem;
}
.some_chanels_linkedin {
    max-width: 2rem;
}
.some_chanels {
    justify-self: center;
}
.contact_information {
    justify-self: center;
    margin-right: 4rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.contact_information_header {
    grid-column: span 2;
    justify-self: center;
}
.contact_information_icon {
    max-width: 1rem;
    justify-self: end;
    align-self: center;
}

.contact_information_location_info {
    color: var(--Color_secondary_font);
}






  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--Color_primary);
    padding: .5rem 0rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: var(--Color_secondary_font);
    padding: .5rem 1.5rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: var(--nav-hover);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media only screen and (max-width: 768px) {
    .navbar{
        justify-content: end;
        padding: var(--M_xsmall) var(--M_small);
    }
    .nav-image {
        padding-top: 1rem;
        width: 170px;
    }
    .nav-menu { 
        position: fixed;
        left: -100%;
        flex-direction: column;
        background-color: var(--Color_primary);
        width: 100%;
        border-radius: 10px;
        text-align: left;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        gap: var(--M_small);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .nav-menu:nth-child(1){
        padding-top: 2rem;
    }
    .nav-link {
        /* font-size: var(--M_small); */
        font-size: var(--M_xsmall);
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .nav-link:active{
        background-color: var(--nav-hover);
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }


    /*      --------------------      HERO SECTION        --------------------      */
    .hero {
        margin-bottom: var(--M_medium);
    }
    .hero_text {
        padding-left: var(--M_small);
    }
    .hero_paragraph {
        margin-bottom: var(--M_medium);
    }
    .hero_header {
        font-size: var(--M_large);
        margin-bottom: var(--M_xxsmall);
    }
    .hero_secondary_header {
        margin-bottom: var(--M_medium);
        font-size: var(--M_xsmall);
    }
    .hero_contact_paragraph {
        margin-bottom: var(--M_xsmall);
    }
    .hero_contact {
        gap: var(--M_xxsmall);
    }

    /*      --------------------      CARDS        --------------------      */
    .productsHeader{
        margin-bottom: var(--M_small);
    }

    .cards {
        margin: 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        gap: var(--D_medium);
    }

    .card-items {
        display: flex;
        gap: var(--D_medium);
    }

    .card-item {
        width: 100%;
        background-color: var(--Color_secondary_background);
        box-shadow: 2px 2px 16px 0px rgb(48, 52, 55, .25);
        border-radius: var(--D_xsmall);
    }

    .card-itemImg {
        width: 100%;
        height: 200px;

        border-top-left-radius: var(--D_xsmall);
        border-top-right-radius: var(--D_xsmall);

        object-fit: cover;
    }

    .card-item_text {
        padding: var(--D_small);

    }

    .--cardheader {
        text-align: center;
        margin-bottom: var(--D_xsmall);
    }

    .card-item_body {
        margin-bottom: var(--D_small);
    }
}