/*      --------------------      GENEREL RULES        --------------------      */
/*
    https://www.linkedin.com/pulse/best-practices-writing-clean-maintainable-code-udara-abeythilake/

    "Naming stuff is hard"
    - Use classes instead of id
    - Use Snake Case for naming stuff (snake_case)
    - Use descriptive names ("calculate_average" instead of "avg")
    - Avoid abbreviations ("photo_section" instead of "pt_sec")
    - No reserved keywords ("if", "else" or "for")

    "Make it skim reading proof, to avoid struggels"
    - Use proper indentation (Indent code properly to make it easier to read and follow, such as where loops and conditional statements begin and end)
    - Use whitespace (separate different sections of code with blank lines to make it easier to distinguish)
    - Use comments (not everywere, but where it makes sense to explain stuff)
*/



/*      --------------------      ROOT        --------------------      */

:root {
    /* Colors*/
    /* Primary */
    --Color_primary: #0B5CAA;
    --Color_primary_acoustic: #0365b1;
    --Color_primary_haptic: #e6007e;
    --Color_primary_font: #303437;
    --Color_primary_background: #fafafa;
    --Color_contact_background: #E7EFF7;
    /* Secondary */
    --Color_secondary_font: #f4f4f4;
    --Color_secondary_background: #f4f4f4;
    --haptic_secondary_color: #FEF3F9;
    --acoustics_secondary_color: #CDE0EF;
    /* Hover */
    --nav-hover: #003a71;
    /* Gradient */
    --Color_header_gradient: linear-gradient( #f4f4f4 , #f4f4f400);
    --Color_horizontal_gradient: linear-gradient(to right, #0365b1 , #e6007e);
    --Color_vertical_gradient: linear-gradient( #0365b1 , #e6007e);
    
    /* Desktop */
    /* Fonts */
    --D_header: 2rem;
    --D_subheader: 1.5rem;
    --D_cardheader: 1.25rem;
    --D_nav: 1.25rem;
    --D_sub__nav: 1.25rem;
    --D_body: 1rem;
    --D_button: 1rem;
    --D_footer: 1rem;
    /* Spacing */
    /* Spacing */
    --D_xsmall: 0.5rem;
    --D_small: 1rem;
    --D_medium: 1.5rem;
    --D_large: 2rem;
    --D_xlarge: 3rem;
    --D_xxlarge: 4rem;

    /* Mobile */
    /* Fonts */
    --M_header: 1.5rem;
    --M_subheader: 1.25rem;
    --M_cardheader: 1.125rem;
    --M_nav: 1.125rem;
    --M_sub__nav: 1.125rem;
    --M_body: 1rem;
    --M_button: 1rem;
    --M_footer: 1rem;
    /*Spacing */
    --M_xxsmall: 0.5rem;
    --M_xsmall: 1rem;
    --M_small: 1.5rem;
    --M_medium_: 2rem;
    --M_large: 2.5rem;
    --M_xlarge: 3rem;
    --M_xxlarge: 4rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--Color_primary_background);
}
h1, h2, h3, h4 {
    font-family: 'Raleway';
    font-weight: bold;
    text-transform: uppercase;
    color: var(--Color_primary_font);
}
h5, h6, p {
    font-family: 'Calibri';
    font-weight: normal;
    color: var(--Color_primary_font);
}


/* ------------------------------------------ ABOUT GREWUS ------------------------------------------ */

.filter_search_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: var(--Color_secondary_background);
  border-radius: 5px;
  margin: 4rem;
}
.filter_search_section_filters {
  display: flex;
  align-items: center;
}
.filter_button {
  display: flex;
  align-items: center;
  height: 2rem;
  padding-left: .5rem;
  padding-right: .5rem;
  border: 1px solid var(--Color_primary_font);
  border-radius: 4;
  background-color: white;
  cursor: pointer;
  font-size: var(--D_small);
  font-weight: normal;
  color: var(--Color_primary_font);
  margin-right: 2rem;
}
.filter_button:hover {
  background-color: #e6e6e6;
}
.filter_icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1.5rem;
}
.filter_search_section_search {
  display: flex;
  align-items: center;
}
.search_input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  border-right: none;
  width: 200px;
  height: 2rem;
  background-color: white;
}
input[type=search] {
  font-family: 'Calibri';
  font-weight: normal;
  font-size: var(--D_body);
  width: 24rem;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none; /* To remove border, or a black border will appear */
  background-color: white;
  border-radius: .5rem 0 0 .5rem;
}
.search_button {
  background-color: var(--Color_primary);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  height: 2rem;
  padding: .5rem;
}
.search_button .search_icon {
  width: 1rem;
  height: 1rem;
}
/* .filter_section {
    background-color: var(--Color_secondary_background);
    margin: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.filter_section_icon {
    width: 2rem;
    margin: 1.5rem;
}
.filter_section_filter {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.filter_section_filter_items_parent {
    font-family: 'calibri';
    font-size: var(--D_small);
    color: var(--Color_primary_font);
    padding: .5rem;
    border: 1px solid var(--Color_primary_font);
}

.filter_section_search {
    height: 2rem;
} */



















/* --------------------------------------------- HAPTIC --------------------------------------------- */




/* -------------------------------------------- ACOUSTIC --------------------------------------------- */




/* --------------------------------------------- CONTACT --------------------------------------------- */




/* --------------------------------------------- PRODUCTS --------------------------------------------- */




/* ---------------------------------------- PRODUCT: INDIVIDUAL ---------------------------------------- */