/*      --------------------      GENEREL RULES        --------------------      */
/*
    https://www.linkedin.com/pulse/best-practices-writing-clean-maintainable-code-udara-abeythilake/

    "Naming stuff is hard"
    - Use classes instead of id
    - Use Snake Case for naming stuff (snake_case)
    - Use descriptive names ("calculate_average" instead of "avg")
    - Avoid abbreviations ("photo_section" instead of "pt_sec")
    - No reserved keywords ("if", "else" or "for")

    "Make it skim reading proof, to avoid struggels"
    - Use proper indentation (Indent code properly to make it easier to read and follow, such as where loops and conditional statements begin and end)
    - Use whitespace (separate different sections of code with blank lines to make it easier to distinguish)
    - Use comments (not everywere, but where it makes sense to explain stuff)
*/



/*      --------------------      ROOT        --------------------      */

:root {
    /* Colors*/
    /* Primary */
    --Color_primary: #0B5CAA;
    --Color_primary_acoustic: #0365b1;
    --Color_primary_haptic: #e6007e;
    --Color_primary_font: #303437;
    --Color_primary_background: #fafafa;
    --Color_contact_background: #E7EFF7;
    /* Secondary */
    --Color_secondary_font: #f4f4f4;
    --Color_secondary_background: #f4f4f4;
    --haptic_secondary_color: #FEF3F9;
    --acoustics_secondary_color: #CDE0EF;
    /* Hover */
    --nav-hover: #003a71;
    /* Gradient */
    --Color_header_gradient: linear-gradient( #f4f4f4 , #f4f4f400);
    --Color_horizontal_gradient: linear-gradient(to right, #0365b1 , #e6007e);
    --Color_vertical_gradient: linear-gradient( #0365b1 , #e6007e);
    
    /* Desktop */
    /* Fonts */
    --D_header: 2rem;
    --D_subheader: 1.5rem;
    --D_cardheader: 1.25rem;
    --D_nav: 1.25rem;
    --D_sub__nav: 1.25rem;
    --D_body: 1rem;
    --D_button: 1rem;
    --D_footer: 1rem;
    /* Spacing */
    /* Spacing */
    --D_xsmall: 0.5rem;
    --D_small: 1rem;
    --D_medium: 1.5rem;
    --D_large: 2rem;
    --D_xlarge: 3rem;
    --D_xxlarge: 4rem;

    /* Mobile */
    /* Fonts */
    --M_header: 1.5rem;
    --M_subheader: 1.25rem;
    --M_cardheader: 1.125rem;
    --M_nav: 1.125rem;
    --M_sub__nav: 1.125rem;
    --M_body: 1rem;
    --M_button: 1rem;
    --M_footer: 1rem;
    /*Spacing */
    --M_xxsmall: 0.5rem;
    --M_xsmall: 1rem;
    --M_small: 1.5rem;
    --M_medium_: 2rem;
    --M_large: 2.5rem;
    --M_xlarge: 3rem;
    --M_xxlarge: 4rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--Color_primary_background);
}
h1, h2, h3, h4 {
    font-family: 'Raleway';
    font-weight: bold;
    text-transform: uppercase;
    color: var(--Color_primary_font);
}
h5, h6, p {
    font-family: 'Calibri';
    font-weight: normal;
    color: var(--Color_primary_font);
}


/* ------------------------------------------ ABOUT GREWUS ------------------------------------------ */

.header_section {
    background: var(--Color_header_gradient);
    max-width: 100%;
    padding: 4rem;
}
.header_section_header {
    color: var(--Color_primary_font);
    text-align: center;
    margin-bottom: 2rem;
    font-size: var(--D_header);
}
.header_section_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header_section_info_header {
    color: var(--Color_primary_font);
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: var(--D_subheader);
    margin-right: 1.5rem;
    margin-bottom: .5rem;
}
.header_section_info_text {
    color: var(--Color_primary_font);
    grid-column-start: 1;
    grid-row-start: 2;
    margin-right: 1.5rem;
}
.header_section_info_img {
    height: 100%;
    width: 100%;
    grid-row: span 2;
    border-radius: .5rem;
}




.subheader_section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.5rem;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
.subheader_section_image img {
    width: 100%;
    border-radius: .5rem;
}
.subheader_section_content h2 {
    color: var(--Color_primary_font);
    display: flex;
    align-items: center;
}
.subheader_section_content h2::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 50px;
    background: var(--Color_vertical_gradient); /* Gradient on the vertical line */
    margin-right: 1rem;
}
.subheader_section_content p {
    color: var(--Color_primary_font);
    line-height: 1.5;
    margin-top: 1rem;
}









.contact_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contact_section_form_namefields {
    display: flex;
    gap: 2rem; /* Gap between firstname and lastname labels */
}
.contact_section_form_namefields .contact_section_form_formgroup {
    flex: 1; /* Ensuring each field takes half the space */
}
.contact_section_form_label {
    font-family: 'Calibri';
    font-weight: normal;
    font-size: var(--D_body);
    color: var(--Color_primary_font);
}
.contact_section_form_section {
    display: flex;
    flex-direction: column;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    font-family: 'Calibri';
    font-weight: normal;
    font-size: var(--D_body);
    color: #808081;
    width: 100%; /* Full width */
    padding-top: .5rem; /* Some padding */
    padding-bottom: .5rem; /* Some padding */
    padding-left: 1rem;
    border: none; /* To remove border, or a black border will appear */
    background-color: var(--Color_contact_background);
    border-radius: .5rem; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-bottom: 1rem; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
.contact_section_form_section_button {
    background-color: var(--Color_primary);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem; /* Afstand mellem ikon og tekst */
    width: fit-content;
    padding: 1rem;
  }
  
  .contact_section_form_section_button:hover {
    background-color: var(--nav-hover);
  }
  
  .contact_section_form_section_button .contact_section_form_section_icon {
    width: 16px; /* Juster størrelsen på ikonet efter behov */
    height: 16px;
    transform: rotate(-15deg);
  }

.contact_section_information {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_section_information_image {
    max-width: 50%;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
}






/* --------------------------------------------- HAPTIC --------------------------------------------- */




/* -------------------------------------------- ACOUSTIC --------------------------------------------- */




/* --------------------------------------------- CONTACT --------------------------------------------- */




/* --------------------------------------------- PRODUCTS --------------------------------------------- */




/* ---------------------------------------- PRODUCT: INDIVIDUAL ---------------------------------------- */