:root{
      --spacingDefoult: 
      --spacingSmall:var(--spacingDefoult)
      --spacingMedium:var(--spacingDefoult)
      --spacingLarge:var(--spacingDefoult)
      --spacingXLarge:var(--spacingDefoult)


      --fontSizeSmall:8px;
      --fontsizeMedium: 16px;
      --fontSizeLarge: 24px;
      --fontSizeXLarge:36px;

      --maincolor: 

}